<div *ngIf="ministryUser" class="card">
  <div class="card-header">
    Ministry Contact
  </div>
  <div class="card-body">
    <div class="card-title">
      {{nameAssemble(ministryUser.firstName,null,ministryUser.lastName)}}
    </div>
    <p class="card-text">
      <strong>Phone</strong><br>
      <a href="tel:{{ministryUser.phone}}">{{ministryUser.phone}}</a>
    </p>
    <p class="card-text">
      <strong>Email</strong><br>
      <a href="mailto:{{ministryUser.email}}">{{ministryUser.email}}</a>
    </p>
  </div>
</div>
