<!-- <input #files id="files" type="file" style="display: none" (change)="onFilesAdded($event.target.files)" > -->
<div class="container">
  <div class="row">
    <div class="col">
      <input #files id="files" type="file" style="display: none" (change)="onFilesAdded($event.target.files)" multiple>
      <button type="button" class="btn btn-warning" (click)="fakeBrowseClick()">Browse...</button>
      <button class="btn btn-warning ml-2" (click)="upload()">Upload</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" (click)="download()">Download</button>
    </div>
  </div>
</div>
<pre>
{{fileNames|json}}
</pre>
<pre>
{{fileData|json}}
</pre>
