<div class="form-group">
  <label for="personPicker">{{title}}</label>
  <select [(ngModel)]="person" (change)="onChange()" class="form-control" name="personPicker" id="personPicker">
    <option *ngFor="let p of persons" [ngValue]="p">{{nameAssemble(p.firstName,p.middleName,p.lastName)}}</option>
  </select>
</div>
<div *ngIf="showCard===true && person" class="card">
  <div class="card-body">
    <h5 class="card-title">{{nameAssemble(person.firstName,person.middleName,person.lastName)}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{person.title}}</h6>
    <p class="card-text">
      {{person.email}}<br>
      {{person.phone}}
      <span *ngIf="person.address">
        <br>
        {{person.address.line1}}<br>
        <span *ngIf="person.address.line2"> {{person.address.line2}}<br> </span>
        {{person.address.city}} {{person.address.province}} {{person.address.postalCode}}
      </span>
      <span class="invalid-feedback" *ngIf="!person.address">
        This contact is missing an address. Please update the contact before submitting this application.
      </span>
    </p>
  </div>
</div>
<!-- {{person|json}} -->
