<table class="table table-striped">
  <thead>
    <th scope="row"></th>
    <th scope="row">Total Cost</th>
    <th scope="row">Funded From VSCP</th>
    <th scope="row">
      <!-- For spacing only -->
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let line of defaultExpenseItemsForm">
      <td>
        {{line.itemName}}
      </td>
      <td>
        <input class="form-control" (input)="calculateTotals()" type="number" [(ngModel)]="line.cost" min="0"
          id="total_cost_{{line.uuid}}">
      </td>
      <td>
        <input class="form-control" (input)="calculateTotals()" type="number" [(ngModel)]="line.fundedFromVscp" min="0"
          id="vscp_{{line.uuid}}">
      </td>
      <td>
        <!-- For spacing only -->
      </td>
    </tr>
    <tr *ngIf="otherDescription">
      <th scope="col" colspan="4">
        {{this.otherDescription}}
      </th>
    </tr>
    <tr *ngFor="let line of expenseItemsForm; let i=index">
      <ng-container *ngIf="line.isActive">
        <td>
          <input class="form-control" type="text" [(ngModel)]="line.otherExpenseDescription" min="0"
            id="expense_name_{{line.uuid}}">
        </td>
        <td>
          <input class="form-control" (input)="calculateTotals()" type="number" [(ngModel)]="line.cost" min="0"
            id="total_cost_{{line.uuid}}">
        </td>
        <td>
          <input class="form-control" (input)="calculateTotals()" type="number" [(ngModel)]="line.fundedFromVscp"
            min="0" id="vscp_{{line.uuid}}">
        </td>
        <td (click)="removeExpenseItem(i)" class="align-middle">
          <i class="fas fa-times-circle text-danger"></i>
        </td>
      </ng-container>
    </tr>
    <tr>
      <th scope="col">Total</th>
      <td>${{totalTotalCost | number}}</td>
      <td>${{totalVscp | number}}</td>
      <td (click)="addExpenseItem()" class="align-middle">
        <i class="fas fa-plus-circle text-success"></i>
      </td>
    </tr>
  </tbody>
</table>