<p>
  All contractors are required to have Commercial General Liability (CGL) insurance in accordance with the terms of the Transfer Under Agreement.
</p>
<p>
  The criteria for CGL include:
</p>
<ol>
  <li>
    Commercial General Liability in an amount not less than $2,000,000.00 inclusive per occurrence against bodily injury, personal injury and property damage and including liability assumed under the Agreement
  </li>
  <li>
    The Province must be included as an additional insured;
  </li>
  <li>
    The policy must be endorsed to provide the Province with 30 days advance written notice of cancellation or material change; and,
  </li>
  <li>
    The policy must include a cross liability clause
  </li>
</ol>
<p>
  A Certificate of Insurance will be included when you receive your contract. Please have your insurer complete and return the certificate to the Province as quickly as possible
</p>
<p>
  Please refer to <strong> Appendix A - Master Insurance Program</strong> of the program application form. The Appendix provides general information on the Master Insurance Program.
</p>
