<div class="container">
	<div class="row">
		<div class="col-md-4">
			<app-contract-tombstone [organizationId]="organizationId" [contractId]="contractId"></app-contract-tombstone>

			<section class="application-nav sticky-top">
				<app-icon-stepper></app-icon-stepper>
			</section>
		</div>

		<div class="col-md-8">
			<!-- 
				contact_information
				administrative_information
				commercial_general_liability_insurance
				review_application
				authorization 
			-->
			<div *ngIf="stepperElements && currentStepperElement">
				<div class="page-header">
					<h1>{{currentStepperElement.itemName}}</h1>
				</div>
				<div *ngFor="let item of stepperElements">
					<!-- remove the old stepper elements off of the dom -->
					<div *ngIf="isCurrentStepperElement(item)">
						<!-- Check the discriminator -->
						<div *ngIf="item.discriminator === 'contact_information'">
							Contact Information
						</div>
						<div *ngIf="item.discriminator === 'administrative_information'">
							Administrative information
						</div>
						<div *ngIf="item.discriminator === 'commercial_general_liability_insurance'">
							Commercial General Liability Insurance
						</div>
						<div *ngIf="item.discriminator === 'program'">
							Program
							{{item.object|json}}
							<!-- <app-program-budget [stepperElement]="item"></app-program-budget> -->
						</div>
						<div *ngIf="item.discriminator === 'review_application'">
							review application
						</div>
						<div *ngIf="item.discriminator === 'authorization'">
							Authorization
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>