<div class="container">
	<div class="row">
		<div class="col-md-4">
			<app-contract-tombstone [organizationId]="organizationId" [contractId]="contractId"></app-contract-tombstone>

			<section class="application-nav sticky-top">
				<app-icon-stepper></app-icon-stepper>
			</section>
		</div>

		<div class="col-md-8">
			<!-- <div>
				<div class="page-header">
					<h1>{{currentStepperElement.itemName}}</h1>
				</div>
				<div *ngFor="let item of stepperElementsTop">
					<div *ngIf="isCurrentStepperElement(item)">
						<span *ngIf="currentStepperElement.itemName === stepperElementsTop[0].itemName">
							<div class="col" [formGroup]="contactInformationForm">
								<app-contact-information formControlName="contactInformation" [required]="true"></app-contact-information>
							</div>
						</span>
						<span *ngIf="currentStepperElement.itemName === stepperElementsTop[1].itemName">
							<app-administrative-information [(administrativeInformation)]="administrativeInformationForm" (valid)="administrativeInformationIsValid($event)"></app-administrative-information>
						</span>
						<span *ngIf="currentStepperElement.itemName === stepperElementsTop[2].itemName">
							<app-cg-liability [(cgLiability)]="cgLiability"></app-cg-liability>
						</span>
					</div>
				</div>
				<div *ngFor="let item of stepperElementsPrograms">
					<div *ngIf="isCurrentStepperElement(item)">
						<pre>{{item.object|json}}</pre>

					</div>
				</div>
				<div *ngFor="let item of stepperElementsBottom">
					<div *ngIf="isCurrentStepperElement(item)">
						<span *ngIf="currentStepperElement.itemName === stepperElementsBottom[0].itemName">
							Do some review here
						</span>
						<span *ngIf="currentStepperElement.itemName === stepperElementsBottom[1].itemName">
							<app-program-authorizer></app-program-authorizer>
						</span>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>