<div class="container">
	<div class="row">
		<div class="col-md-4">
			<app-contract-tombstone [organizationId]="organizationId" [contractId]="contractId"></app-contract-tombstone>

			<section class="application-nav sticky-top">
				<app-icon-stepper></app-icon-stepper>
			</section>
		</div>

		<div class="col-md-8">
			<!-- 
				contact_information
				administrative_information
				commercial_general_liability_insurance
				review_application
				authorization 
			-->
			<div *ngIf="stepperElements && currentStepperElement">
				<div class="page-header">
					<h1>{{currentStepperElement.itemName}}</h1>
				</div>
				<div *ngFor="let item of stepperElements">
					<!-- remove the old stepper elements off of the dom -->
					<div *ngIf="isCurrentStepperElement(item)">
						<!-- Check the discriminator -->
						<div *ngIf="item.discriminator === 'contact_information'">
							<app-program-contact-information></app-program-contact-information>
						</div>
						<div *ngIf="item.discriminator === 'administrative_information'">
							Administrative information
						</div>
						<div *ngIf="item.discriminator === 'commercial_general_liability_insurance'">
							<app-cg-liability [(cgLiability)]="item.object"></app-cg-liability>
						</div>
						<div *ngIf="item.discriminator === 'program'">
							<app-program></app-program>
						</div>
						<div *ngIf="item.discriminator === 'review_application'">
							<app-review-application></app-review-application>
						</div>
						<div *ngIf="item.discriminator === 'authorization'">
							<app-program-authorizer></app-program-authorizer>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>