<div class="container">
  <div class="row">
    <div class="col-md-4 mt-4">
      <p class="h2">Personnel List</p>
      <ul class="list-group">
        <li *ngFor="let person of personList" class="list-group-item" [class.active]="person.personId === currentPerson.personId" (click)="navigateToPerson(person)">
          <span *ngIf="person.lastName&& person.firstName">
            {{person.lastName|titlecase}}, {{person.firstName| titlecase}}
          </span>
          <span *ngIf="!person.lastName || !person.firstName">Please add information</span>

        </li>
      </ul>
      <button class="btn btn-sm btn-primary mr-2 mb-2" type="button" (click)="addPerson()">Add</button>
      <button class="btn btn-sm btn-primary mr-2 mb-2" type="button" (click)="savePerson()">Save</button>
      <button class="btn btn-sm btn-primary" type="button" (click)="close()">Exit</button>
    </div>
    <div class="col">
      <h2 class="blue-header">Organization Personnel</h2>
      <app-person-details [(person)]="currentPerson"></app-person-details>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col mt-4">
      <pre>{{personList|json}}</pre>
    </div>
  </div> -->
</div>
