<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="blue-header">Organization Personnel</h2>
      <div *ngFor="let person of personList">
        <app-person-details [(person)]="person" (write)="writePerson($event)"></app-person-details>
      </div>
      <button class="btn btn-primary" type="button" (click)="addPerson()">Add Person</button>
      <button class="btn btn-primary" type="button" (click)="close()">Close</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <pre>{{personList|json}}</pre>
    </div>
  </div>
</div>
