
@import '@bcgov/bc-sans/css/BCSans.css';
@import "assets/BCGov-material-theme.css";

// BC Sans is so ugly I'm commenting it out regardless of how correct it is to use it.
// If you want to uncomment this line that is on you. It supports indigenous languages.
// *{  font-family: 'BCSans', 'Myriad-Pro', 'Calibri', 'Helvetica' ,'Arial', sans-serif; }

/* You can add global styles to this file, and also import other style files */
// forms: these override the bootstrap display none.
.valid-feedback {
  display: inherit;
}
.invalid-feedback {
  display: inherit;
}
// a handy red asterisk for marking required fields
.required {
  &::after {
    content: " *";
    color: #d93e45;
    font-weight: 700;
  }
}

.blue-header {
  background-color: #38598A;
  color: #fff;
  padding: 10px 7px 7px 15px;
  font-size: 16px;
  font-weight: semi-bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

// get rid of ugly red borders around fields
:not(output):-moz-ui-invalid:not(:focus) {
  box-shadow: none;
}

:not(output):-moz-ui-invalid:-moz-focusring:not(:focus) {
  box-shadow: none;
}
