<div class="container">
  <div class="row">
    <div class="col-md-4">
      <section class="application-nav sticky-top">
        <div style="max-height: 90%;">
          <app-icon-stepper></app-icon-stepper>
        </div>
        <button class="btn btn-primary mt-2" (click)="exit()">Exit</button>
      </section>
    </div>
    <div class="col">
      <div *ngIf="currentStepperElement">
        <h1>{{currentStepperElement.itemName}}</h1>
        <div *ngIf="currentStepperElement.discriminator==='upload'">
          <input #files id="files" type="file" style="display: none" (change)="onFilesAdded($event.target.files)" multiple>
          <button type="button" class="btn btn-warning" (click)="fakeBrowseClick()">Browse...</button>
          <button class="btn btn-warning ml-2" (click)="upload()">Upload</button>
        </div>
        <div *ngIf="currentStepperElement.discriminator==='download'">
          <button class="btn btn-danger" (click)="download()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<pre>{{fileNames|json}}</pre>
<pre>{{fileData|json}}</pre>
