<div class="container">
  <div class="row">
    <div class="col-md-4">
      <section class="application-nav sticky-top">
        <div style="max-height: 90%;">
          <app-icon-stepper></app-icon-stepper>
        </div>
        <button class="btn btn-primary mt-2" (click)="exit()">Exit</button>
      </section>
    </div>
    <div class="col">
      <div *ngIf="currentStepperElement">
        <div class="page-header">
          <h1>{{currentStepperElement.itemName}}</h1>
        </div>
        <div *ngIf="currentStepperElement.discriminator==='download'">
          <!-- Download file area -->
          <ol>
            <li>Download the document from the link</li>
            <li>Open and sign the document with a PDF reader and add your signature. (Need a pdf reader? <a href="https://get.adobe.com/reader" target="_blank">Download Adobe Acrobat Reader</a>)</li>
            <li>Use the upload tab to upload the signed PDF.</li>
          </ol>

          <button class="btn btn-danger" (click)="download()">Save</button>
        </div>
        <div *ngIf="currentStepperElement.discriminator==='upload'">
          <!-- Upload file area -->
          <ul *ngIf="fileNames.length" class="list-group mb-2">
            <!-- Only show the entry if they are in the list -->
            <li *ngFor="let fileName of fileNames; let i=index" class="list-group-item d-flex justify-content-between align-items-center">
              {{fileName}}{{' ('+fileSizes[i]+')'}}
              <span (click)="removeFile(i)">
                <i class="fas fa-times-circle text-danger"></i>
              </span>
            </li>
          </ul>
          <input #files id="files" type="file" style="display: none" (change)="onFilesAdded($event.target.files)" multiple>
          <button type="button" class="btn btn-warning" (click)="fakeBrowseClick()">Attach File</button>
          <button class="btn btn-warning ml-2" (click)="upload()">Upload Files</button>
        </div>
      </div>
    </div>
  </div>
</div>
<pre>{{fileNames|json}}</pre>
<pre>{{fileData|json}}</pre>
<pre>{{fileSizes|json}}</pre>
