<div class="card">
  <div class="card-header">
    Ministry Contact
  </div>
  <div class="card-body">
    <div class="card-title">
      Carol Albatross
    </div>
    <p class="card-text">
      <strong>Phone</strong><br>
      <a href="tel:12505552323">1(250)555-2323</a>
    </p>
    <p class="card-text">
      <strong>Email</strong><br>
      <a href="mailto:{{contactInformation.emailAddress}}">Carol.Albatross@gov.bc.ca</a>
    </p>
  </div>
  <!-- <div class="card-footer">
      <a routerLink="/profile" class="btn btn-primary">Edit Organization Profile</a>
    </div> -->
</div>
