<div class="card">
  <div class="card-header">
    Organization Profile
  </div>
  <div class="card-body">
    <div class="card-title">
      {{contactInformation.organizationName}}
    </div>
    <p class="card-text">
      <strong>Phone</strong><br>
      <a href="tel:{{contactInformation.phoneNumber}}">{{contactInformation.phoneNumber}}</a>
    </p>
    <p class="card-text">
      <strong>Email</strong><br>
      <a href="mailto:{{contactInformation.emailAddress}}">{{contactInformation.emailAddress}}</a>
    </p>
  </div>
  <div class="card-footer">
    <a routerLink="/profile" class="btn btn-primary">Edit Organization Profile</a>
  </div>
</div>
