<main class="container">
	<div class="row">
		<div class="col">
			<div class="jumbotron">
				<h1 class="display-4">Victims Services: Community Programs Unit</h1>
				<!-- <p class="lead">This is an Angular starter pack with <a href="https://bcgov.github.io/bootstrap-theme/docs/reference/simple/">BCGov BootStrap Styling.</a>
          This starter pack angular project aims to align itself with the <a href="https://developer.gov.bc.ca/Design-System/Navigation-Bar-Basic">BCGov Design System.</a><br>
        </p>
        <hr class="my-4">
        <p> This is built as an Angular front-end to address some of the common patterns that are difficult to implement after the project has started (such as lazy loading). Instead of reinventing basic application flow this is a boilerplate. This uses application structure lessons learned from Victims, Cannibis, Pill Press, and ESSRAS. The specifications for those projects came as wireframes that are built from imaginary elements created in a wireframe tool instead of with components available in development libraries; the BCGov Design System will be releasing a Sketch file for use in prototypes and mockups so that wireframes can align better with the tools that developers use.</p>
        <p>Components in these links are lazy loaded. That means you won't download them until you click these links. <strong>Note that you cannot route to an authenticated part of this app until you "Log In".</strong></p> -->
				<button class="btn btn-primary btn-lg mr-2 mb-2" routerLink="/anonymous">Anonymous</button>
				<button class="btn btn-primary btn-lg mr-2 mb-2" routerLink="/authenticated">Authenticated</button>
			</div>
		</div>
	</div>
	<!-- <div class="card-deck">
    <div class="card">
      <img src="assets/images/Pouting_boy_in_Shamar,_Iraq.jpg" class="card-img-top" alt="A steamy geyser.">
      <div class="card-body">
        <span class="h3">Anonymous Form</span>
        <p>
          Try visiting this lazy loaded area for anonymous (signed out) users. Anyone can visit this link and it loads a module with Angular Material components.
        </p>
        <button class="btn btn-primary" routerLink="/anonymous">Anonymous Form</button>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/Hermandad_-_friendship.jpg" class="card-img-top" alt="Craters with a lens flare.">
      <div class="card-body">
        <span class="h3">User Accessible Page</span>
        <p>
          This is a link to the dashboard. If the user cannot be routed to
          <strong>/authenticated</strong> you will see a notification pop up at the bottom. If you want to log in click the log-in button on the top banner. In a real-world usage you don't show this link or you be sure the link sends them to a login page beforehand.
        </p>
        <a class="btn btn-primary" routerLink="/authenticated">Secret Page</a>
        <a class="btn btn-primary" href="login/">Login Link</a>
      </div>
    </div>
  </div> -->

	<!-- <div class="row mt-4">
    <div class="col-md-4">
      <h2>Example body text</h2>
      <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
      <p><small>This line of text is meant to be treated as fine print.</small></p>
      <p>The following is <strong>rendered as bold text</strong>.</p>
      <p>The following is <em>rendered as italicized text</em>.</p>
      <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
    </div>
    <div class="col-md-4">
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
      <h6>Heading 6</h6>
      <h3>
        Heading
        <small class="text-muted">with muted text</small>
      </h3>
      <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    </div>
    <div class="col-md-4">
      <h2>Emphasis classes</h2>
      <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
      <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
      <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
      <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
      <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
  </div> -->
</main>