<div *ngIf="trans">
  <div class="row">
    <div class="col">
      <h1>
        Service Provider Profile Dashboard
      </h1>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md">
      <app-organization-profile-box></app-organization-profile-box>
    </div>
    <div class="col-md">
      <app-ministry-contact-box></app-ministry-contact-box>
    </div>
  </div>

  <!-- Contract category can be upcoming current past or none -->
  <div class="card mb-4">
    <div class="card-header">Upcoming Contracts</div>
    <div class="card-body">
      <span *ngFor="let contract of trans.contracts">
        <div *ngIf="contract.category===categories[0]" class="row mb-1">
          <div class="col">
            <app-task-list [contract]="contract"></app-task-list>
          </div>
        </div>
      </span>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">Current Contracts</div>
    <div class="card-body">
      <span *ngFor="let contract of trans.contracts">
        <div *ngIf="contract.category===categories[1]" class="row mb-1">
          <div class="col">
            <app-task-list [contract]="contract"></app-task-list>
          </div>
        </div>
      </span>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">Past Contracts</div>
    <div class="card-body">
      <span *ngFor="let contract of trans.contracts">
        <div *ngIf="contract.category===categories[2]" class="row mb-1">
          <div class="col">
            <app-task-list [contract]="contract"></app-task-list>
          </div>
        </div>
      </span>
    </div>
  </div>


  <!-- <pre *ngIf="contracts">{{contracts|json}}</pre> -->
</div>
