<div *ngIf="trans" class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>
        Service Provider Profile Dashboard
      </h1>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-8">
      <app-organization-profile-box></app-organization-profile-box>
    </div>
    <div class="col-md-4">
      <app-ministry-contact-box></app-ministry-contact-box>
    </div>
  </div>
  <div *ngFor="let contract of trans.contracts" class="row mt-4">
    <div class="col">
      <app-task-list [tasks]="filterTasks(contract.contractId, trans.tasks)"></app-task-list>
    </div>
  </div>
  <!-- <pre *ngIf="contracts">{{contracts|json}}</pre> -->
</div>
