<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>
        Service Provider Profile Dashboard
      </h1>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-8">
      <app-organization-profile-box></app-organization-profile-box>
    </div>
    <div class="col-md-4">
      <app-ministry-contact-box></app-ministry-contact-box>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <app-todo-list></app-todo-list>
    </div>
  </div>
</div>
