<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        Organization ID: {{organizationId}}
        Contract ID: {{contractId}}
      </div>
      <section class="application-nav sticky-top">
        <h3>Renew Application</h3>
        <mat-vertical-stepper (selectionChange)="gotoPage($event)" #stepper>
          <ng-template matStepperIcon="edit">
            <mat-icon>done</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="number">
          </ng-template>
          <mat-step *ngFor="let item of upperItems" label="{{item}}"></mat-step>
          <mat-step *ngFor="let item of programs" label="Program: {{item}}"></mat-step>
          <mat-step *ngFor="let item of lowerItems" label="{{item}}"></mat-step>
        </mat-vertical-stepper>
      </section>
    </div>

    <div class="col-md-8">
      <div *ngFor="let item of upperItems">
        <div *ngIf="currentFormPage === item">
          <div class="page-header">
            <h1>{{item}}</h1>
          </div>
          {{item}} component <br>
          <div *ngIf="item === upperItems[1]">
            <app-applicant-contact-information [(contactInformation)]='contactInformation'></app-applicant-contact-information>
          </div>
        </div>
      </div>
      <div *ngFor="let item of programs">
        <div *ngIf="currentFormPage === item">
          <div class="page-header">
            <h1>{{item}}</h1>
          </div>
          <app-program-planner [program]="item" (pageTurn)="gotoNextStep($event)"></app-program-planner>
        </div>
      </div>

      <div *ngFor="let item of lowerItems">
        <div *ngIf="currentFormPage === item">
          <div class="page-header">
            <h1>{{item}}</h1>
          </div>
          {{item}} component
        </div>
      </div>
    </div>
  </div>
</div>
