<div class="container">
  <div class="row">
    <div class="col-md-4">
      <span>
        <p class="h2">
          <small>
            Organization ID:
          </small>
          <br>
          {{organizationId}}
        </p>
        <p class="h2">
          <small>
            Contract ID:
          </small>
          <br>
          {{contractId}}
        </p>
      </span>

      <section class="application-nav sticky-top">
        <h3>Renew Application</h3>
        <mat-vertical-stepper (selectionChange)="gotoPage($event)" #stepper>
          <ng-template matStepperIcon="edit">
            <mat-icon>done</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="number">
          </ng-template>
          <mat-step *ngFor="let item of upperItems" label="{{item}}"></mat-step>
          <mat-step *ngFor="let item of programs" label="Program: {{item}}"></mat-step>
          <mat-step *ngFor="let item of lowerItems" label="{{item}}"></mat-step>
        </mat-vertical-stepper>
      </section>
    </div>

    <div class="col-md-8">
      <div *ngFor="let item of upperItems">
        <div *ngIf="currentFormPage === item">
          <div class="page-header">
            <h1>{{item}}</h1>
          </div>
          {{item}}<br>
          <div *ngIf="item === upperItems[1]">
            <app-applicant-contact-information [(contactInformation)]='contactInformation' (valid)="contactIsValid($event)"></app-applicant-contact-information>
            <button (click)="contactInformationSave()">Save</button>
          </div>
          <div *ngIf="item === upperItems[2]">
            <app-administrative-information></app-administrative-information>
            <button (click)="administrativeInformationSave()">Save</button>
          </div>
        </div>
      </div>
      <div *ngFor="let item of programs">
        <div *ngIf="currentFormPage === item">
          <div class="page-header">
            <h1>{{item}}</h1>
          </div>
          <app-program-planner [program]="item" (pageTurn)="gotoNextStep($event)"></app-program-planner>
        </div>
      </div>

      <div *ngFor="let item of lowerItems">
        <div *ngIf="currentFormPage === item">
          <div class="page-header">
            <h1>{{item}}</h1>
          </div>
          {{item}} component
        </div>
      </div>
    </div>
  </div>
</div>
