<div class="container">
  <div class="row">
    <div class="col-md-4">
      <span>
        <p class="h2">
          <small>
            Organization ID:
          </small>
          <br>
          {{organizationId}}
        </p>
        <p class="h2">
          <small>
            Contract ID:
          </small>
          <br>
          {{contractId}}
        </p>
      </span>

      <section class="application-nav sticky-top">
        <h3>Renew Application</h3>
        <mat-vertical-stepper (selectionChange)="gotoPage($event)" #stepper>
          <ng-template matStepperIcon="edit">
            <mat-icon>done</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="number">
          </ng-template>
          <mat-step *ngFor="let item of upperItems" label="{{item}}"></mat-step>
          <mat-step *ngFor="let item of programs" label="Program: {{item}}"></mat-step>
          <mat-step *ngFor="let item of lowerItems" label="{{item}}"></mat-step>
        </mat-vertical-stepper>
      </section>
    </div>

    <div class="col-md-8">
      <!-- Section is not in programs list -->
      <div *ngIf="programs.indexOf(currentFormPage)===-1">
        <div class="page-header">
          <h1>{{currentFormPage}}</h1>
        </div>
        <div *ngIf="currentFormPage === upperItems[0]">
          <app-applicant-contact-information [(contactInformation)]='contactInformation' (valid)="contactIsValid($event)"></app-applicant-contact-information>
          <button (click)="contactInformationSave()">Save</button>
        </div>
        <div *ngIf="currentFormPage === upperItems[1]">
          <app-administrative-information [(administrativeInformation)]="administrativeInformation" (valid)="administrativeInformationIsValid($event)"></app-administrative-information>
          <button (click)="administrativeInformationSave()">Save</button>
        </div>
        <div *ngIf="currentFormPage === upperItems[2]">
          <app-cg-liability></app-cg-liability>
          <!-- Instead of passing values to the component this is a simpler approach for a one click form. It is different than the other forms. -->
          <div class="form-group">
            Please choose from ONE of the following options:
            <div class="form-check form-check-inline">
              <input #cglOption="ngModel" [(ngModel)]="cgLiability" class="form-check-input" type="radio" name="cglOption" id="cglOption1" value="Agency Carries own CGL coverage.">
              <label class="form-check-label" for="cglOption1">
                <strong> Option A: </strong> Your agency carries its own Commercial General Liability (CGL) coverage (as describe above) that covers the programs and services you are applying to provide.
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input #cglOption="ngModel" [(ngModel)]="cgLiability" class="form-check-input" type="radio" name="cglOption" id="cglOption2" value="Agency requesting Province's Master Insurance Program enrolment.">
              <label class="form-check-label" for="cglOption2">
                <strong> Option B: </strong> Your agency is requesting enrolment in the Province's Master Insurance Program.
              </label>
            </div>
          </div>
          <button (click)="cgLiabilitySave()">Save</button>
        </div>
        <div *ngIf="currentFormPage === lowerItems[0]">
          Not yet made
        </div>
        <div *ngIf="currentFormPage === lowerItems[1]">
          Not yet made
        </div>
      </div>

      <div *ngFor="let item of programs">
        <div *ngIf="currentFormPage === item">
          <div class="page-header">
            <h1>{{item}}</h1>
          </div>
          <app-program-planner [program]="item" (pageTurn)="gotoNextStep($event)"></app-program-planner>
        </div>
      </div>
    </div>
  </div>
</div>
