<div class="container">
	<div class="row">
		<div class="col-md-4">
			<app-contract-tombstone [contractId]="contractId" [organizationId]="organizationId"></app-contract-tombstone>
			<section class="application-nav sticky-top">
				<p class="h4">Renew Application</p>
				<mat-vertical-stepper (selectionChange)="gotoPage($event)" #stepper>
					<ng-template matStepperIcon="edit">
						<mat-icon>done</mat-icon>
					</ng-template>
					<ng-template matStepperIcon="number">
					</ng-template>
					<mat-step *ngFor="let item of upperItems" label="{{item}}"></mat-step>
					<mat-step *ngFor="let item of programs" label="Program: {{item}}"></mat-step>
					<mat-step *ngFor="let item of lowerItems" label="{{item}}"></mat-step>
				</mat-vertical-stepper>
			</section>
		</div>

		<div class="col-md-8">
			<!-- Section is not in programs list -->
			<div *ngIf="programs.indexOf(currentFormPage)===-1">
				<div class="page-header">
					<h1>{{currentFormPage}}</h1>
				</div>
				<div *ngIf="currentFormPage === upperItems[0]">
					Contact Information
					<!-- <app-contact-information-DELETEME [(contactInformation)]='contactInformation' (valid)="contactIsValid($event)"></app-contact-information-DELETEME> -->
					<button class="btn btn-primary" (click)="contactInformationSave()">Save</button>
				</div>
				<div *ngIf="currentFormPage === upperItems[1]">
					<app-administrative-information [(administrativeInformation)]="administrativeInformation" (valid)="administrativeInformationIsValid($event)"></app-administrative-information>
					<button class="btn btn-primary" (click)="administrativeInformationSave()">Save</button>
				</div>
				<div *ngIf="currentFormPage === upperItems[2]">
					<app-cg-liability></app-cg-liability>
					<!-- Instead of passing values to the component this is a simpler approach for a one click form. It is different than the other forms. -->

					<button class="btn btn-primary" (click)="cgLiabilitySave()">Save</button>
				</div>
				<div *ngIf="currentFormPage === lowerItems[0]">
					Unimplemented
				</div>
				<div *ngIf="currentFormPage === lowerItems[1]">
					<app-program-authorizer (unlock)="unlock($event)"></app-program-authorizer>
					The user can sign and submit: {{canSubmit}}
				</div>
			</div>

			<div *ngFor="let item of programMeta">
				<div *ngIf="currentFormPage === item.programName">
					<div class="page-header">
						<h1>{{item.programName}}</h1>
					</div>
					<!-- This massive complex component handles itself instead of returning data -->
					<app-program-planner [programMeta]="item"></app-program-planner>
				</div>
			</div>
		</div>
	</div>
</div>