<div class="container">
  <div class="row">
    <div class="col">
      <h1>Update Organization Information</h1>
      <app-program-contact-information [(contactInformation)]="trans.organizationMeta.contactInformation"></app-program-contact-information>
    </div>
    <div class="col">
      <h1>Update Organization Information</h1>
      <app-contact-information2 [(contactInformation)]="trans.organizationMeta.contactInformation"></app-contact-information2>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <!-- Button states for the form: Can submit, Can't submit, (TODO: in process of submitting) -->
      <button *ngIf="hasCriticalParts()" (click)="onSave()" class="btn btn-primary">Save</button>
      <!-- <button *ngIf="!hasCriticalParts()" class="btn btn-primary" disabled>Save</button> -->
      <button class="btn btn-primary ml-2" (click)="onExit()">Exit</button>
    </div>
  </div>
</div>
<pre>{{trans|json}}</pre>
