<table class="table table-striped">
  <thead>
    <th scope="col">Revenue Source</th>
    <th scope="col">Cash</th>
    <th scope="col">In-kind Contribution</th>
    <th scope="col">Total</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let source of revenueSourcesForm; let i=index">
      <td>
        <select [(ngModel)]="source.revenueSourceName" class="form-control" name="source_{{i}}" id="source_{{i}}">
          <option *ngFor="let type of revenueSourceTypes">{{type}}</option>
        </select>
        <!-- if the type is other show an input box -->
        <span *ngIf="source.revenueSourceName===revenueSourceTypes[4]">
          <input class="form-control mt-1" type="text" [(ngModel)]="source.other" placeholder="Specify" id="other_{{i}}">
        </span>
      </td>
      <td>
        <input class="form-control" (input)="calculateTotals()" type="number" [(ngModel)]="source.cash" min="0" id="cash_{{i}}">
      </td>
      <td>
        <input class="form-control" (input)="calculateTotals()" type="number" [(ngModel)]="source.inKindContribution" min="0" id="kind_{{i}}">
      </td>
      <td>
        <input class="form-control" type="number" [value]="(source.cash||0) + (source.inKindContribution||0)" id="kind_{{i}}" disabled>
      </td>
      <td (click)="removeRevenueSource(i)" class="align-middle">
        <i class="fas fa-times-circle text-danger"></i>
      </td>
    </tr>
    <tr>
      <th>Total </th>
      <th>${{totalCash}}</th>
      <th>${{totalInKind}}</th>
      <th>${{totalGrand}}</th>
      <td (click)="addRevenueSource()" class="align-middle">
        <div class="form-group">
          <i class="fas fa-plus-circle text-success"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>
