<table class="table table-striped">
  <thead>
    <th scope="col" class="revenue-source-column">Revenue Source</th>
    <th scope="col">Cash</th>
    <th scope="col">In-kind Contribution</th>
    <th scope="col">Total</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let source of revenueSources; let i=index">
      <ng-container *ngIf="source.isActive">
        <td>
          {{source.revenueSourceName}}
          <!-- <input class="form-control" type="text" [(ngModel)]="source.revenueSourceName" disabled> -->
          <!-- <select [(ngModel)]="source.revenueSourceName" class="form-control" name="source_{{i}}" id="source_{{i}}">
          <option *ngFor="let type of revenueSourceTypes">{{type}}</option>
        </select> -->
          <!-- if the type is other show an input box -->
          <span *ngIf="source.revenueSourceName===revenueSourceTypes[4]">
            <input class="form-control mt-1" type="text" [(ngModel)]="source.other" placeholder="Specify"
              id="other_{{i}}">
          </span>
        </td>
        <td>
          <input class="form-control" (input)="calculateTotals()" type="number" [(ngModel)]="source.cash" min="0"
            id="cash_{{i}}">
        </td>
        <td>
          <input class="form-control" (input)="calculateTotals()" type="number" [(ngModel)]="source.inKindContribution"
            min="0" id="kind_{{i}}">
        </td>
        <td>
          <input class="form-control" type="number" [value]="(source.cash||0) + (source.inKindContribution||0)"
            id="kind_{{i}}" disabled>
        </td>
        <td>
          <div (click)="removeRevenueSource(i)" class="align-middle"
            *ngIf="source.revenueSourceName===revenueSourceTypes[4]">
            <i class="fas fa-times-circle text-danger"></i>
          </div>
        </td>
      </ng-container>
    </tr>
    <tr>
      <th>Total </th>
      <th>${{totalCash | number}}</th>
      <th>${{totalInKind | number}}</th>
      <th>${{totalGrand | number}}</th>
      <td (click)="addRevenueSource()" class="align-middle">
        <div class="form-group">
          <i class="fas fa-plus-circle text-success"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>