<app-address2 [(address)]="contactInformation.mainAddress"></app-address2>
<div class="form-check">
  <!-- Mailing address checkbox -->
  <input [(ngModel)]="contactInformation.hasMailingAddress" class="form-check-input" type="checkbox" id="mailingAddressCheckbox">
  <label class="form-check-label" for="mailingAddressCheckbox">
    Different mailing address from main address.
  </label>
</div>
<span *ngIf="contactInformation.hasMailingAddress">
  <h2 class="blue-header mt-4">Mailing Address</h2>
  <app-address2 [(address)]="contactInformation.mailingAddress"></app-address2>
  <pre>ContactInformation:{{contactInformation|json}}</pre>
</span>
