<h2 class="blue-header">Primary Program Contact Information</h2>
<div class="form-row">
  <div class="col-md">
    <div class="form-group">
      <label for="emailAddress">Email</label>
      <input type="text" class="form-control" id="emailAddress" name="emailAddress" [(ngModel)]="contactInformation.emailAddress" #emailAddress="ngModel" [pattern]="emailRegex">
      <div class="valid-feedback" [hidden]="formHelper.showValidFeedback(emailAddress)">
        Ok
      </div>
      <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedback(emailAddress)">
        Try Again
      </div>
    </div>
  </div>
</div>
<div class="form-row">
  <div class="col-md">
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="contactInformation.phoneNumber" #phoneNumber="ngModel" [pattern]="phoneRegex">
      <div class="valid-feedback" [hidden]="formHelper.showValidFeedback(phoneNumber)">
        Ok
      </div>
      <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedback(phoneNumber)">
        Try Again
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="form-group">
      <label for="faxNumber">Fax Number</label>
      <input type="text" class="form-control" id="faxNumber" name="faxNumber" [(ngModel)]="contactInformation.faxNumber" #faxNumber="ngModel" [pattern]="phoneRegex">
      <div class="valid-feedback" [hidden]="formHelper.showValidFeedback(faxNumber)">
        Ok
      </div>
      <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedback(faxNumber)">
        Try Again
      </div>
    </div>
  </div>
</div>
<app-address2 [(address)]="contactInformation.mainAddress"></app-address2>
<h2 class="blue-header">Mailing Address</h2>
<div class="form-check">
  <!-- Mailing address checkbox -->
  <input [(ngModel)]="contactInformation.hasMailingAddress" class="form-check-input" type="checkbox" id="mailingAddressCheckbox">
  <label class="form-check-label" for="mailingAddressCheckbox">
    Different mailing address from main address.
  </label>
</div>
<app-address2 [(address)]="contactInformation.mailingAddress"></app-address2>
<pre>ContactInformation:{{contactInformation|json}}</pre>
