<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2" scope="col">Main Program Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Program Name</th>
      <td>{{pa?.name}}</td>
    </tr>
    <tr>
      <th scope="row">Program Type</th>
      <td>{{pa?.programTypeName}}</td>
    </tr>
    <tr>
      <th scope="row">Program Location</th>
      <td>{{pa?.programLocation}}</td>
    </tr>
    <!-- <tr>
      <th scope="row">Service Location</th>
      <td>{{pa?.serviceArea}}</td>
    </tr> -->
    <tr>
      <th scope="row">Email Address</th>
      <td>{{pa?.emailAddress}}</td>
    </tr>
    <tr>
      <th scope="row">Phone Number</th>
      <td>{{pa?.phoneNumber}}</td>
    </tr>
    <tr>
      <th scope="row">Fax Number</th>
      <td>{{pa?.faxNumber}}</td>
    </tr>
    <tr>
      <th scope="row">Line 1</th>
      <td>{{pa?.mainAddress?.line1}}</td>
    </tr>
    <tr>
      <th scope="row">Line 2</th>
      <td>{{pa?.mainAddress?.line2}}</td>
    </tr>
    <tr>
      <th scope="row">City</th>
      <td>{{pa?.mainAddress?.city}}</td>
    </tr>
    <tr>
      <th scope="row">Province</th>
      <td>{{pa?.mainAddress?.province}}</td>
    </tr>
    <tr>
      <th scope="row">Postal Code</th>
      <td>{{pa?.mainAddress?.postalCode}}</td>
    </tr>
  </tbody>
</table>
<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2" scope="col">Location Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Line 1</th>
      <td>{{pa?.mainAddress?.line1}}</td>
    </tr>
    <tr>
      <th scope="row">Line 2</th>
      <td>{{pa?.mainAddress?.line2}}</td>
    </tr>
    <tr>
      <th scope="row">City</th>
      <td>{{pa?.mainAddress?.city}}</td>
    </tr>
    <tr>
      <th scope="row">Province</th>
      <td>{{pa?.mainAddress?.province}}</td>
    </tr>
    <tr>
      <th scope="row">Postal Code</th>
      <td>{{pa?.mainAddress?.postalCode}}</td>
    </tr>
  </tbody>
</table>
<table *ngIf="pa?.mailingAddress" class="table table-striped">
  <thead>
    <tr>
      <th colspan="2" scope="col">Mailing Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Line 1</th>
      <td>{{pa?.mailingAddress?.line1}}</td>
    </tr>
    <tr>
      <th scope="row">Line 2</th>
      <td>{{pa?.mailingAddress?.line2}}</td>
    </tr>
    <tr>
      <th scope="row">City</th>
      <td>{{pa?.mailingAddress?.city}}</td>
    </tr>
    <tr>
      <th scope="row">Province</th>
      <td>{{pa?.mailingAddress?.province}}</td>
    </tr>
    <tr>
      <th scope="row">Postal Code</th>
      <td>{{pa?.mailingAddress?.postalCode}}</td>
    </tr>
  </tbody>
</table>

<app-person-table [title]="'Program Contact'" [person]="pa?.programContact"></app-person-table>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2" scope="col">Program Staff</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!pa.additionalStaff.length">
      <th scope="row">Staff</th>
      <td>No staff declared on {{pa.name}}</td>
    </tr>
    <tr *ngFor="let person of pa.additionalStaff;let i=index">
      <th scope="row">Person {{i+1}}</th>
      <td>{{person.firstName}} {{person.middleName}} {{person.lastName}}{{person.title?' - '+person.title:''}}</td>
    </tr>
  </tbody>
</table>
<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2" scope="col">Program Schedule Hours</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Total Number for Contracted Hours</th>
      <td>{{pa.numberOfHours}}</td>
    </tr>
    <tr>
      <th scope="row">Total Scheduled Hours per Week</th>
      <td>{{pa.scheduledHours}}</td>
    </tr>
    <tr>
      <th scope="row">Total On-call / Standby Hours per Week</th>
      <td>{{pa.onCallHours}}</td>
    </tr>
  </tbody>
</table>

<!-- <pre>{{pa|json}}</pre> -->
