<fieldset [formGroup]="internalFormGroup" (input)="onChanges()">
	<h2 class="blue-header">Personal Information</h2>
	<div class="form-row">
		<div class="col-md">
			<div class="form-group">
				<label for="firstName" [class.required]="required">First Name</label>
				<input formControlName="firstName" type="text" class="form-control" id="firstName">
			</div>
		</div>
		<div class="col-md">
			<div class="form-group">
				<label for="middleName">Middle Name</label>
				<input formControlName="middleName" type="text" class="form-control" id="middleName">
			</div>
		</div>
		<div class="col-md">
			<div class="form-group">
				<label for="lastName" [class.required]="required">Last Name</label>
				<input formControlName="lastName" type="text" class="form-control" id="lastName">
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md">
			<div class="form-group">
				<label for="title">Title</label>
				<input formControlName="title" type="text" class="form-control" id="title">
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md">
			<div class="form-group">
				<label [class.required]="required" for="city">Email</label>
				<input type="text" class="form-control" id="email" name="email" formControlName="email" [required]="formHelper.isDirtyOrTouched(email)">
				<div class="valid-feedback" [hidden]="formHelper.showValidFeedback(email)" style="display: inherit">
					Ok
				</div>
				<div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedback(email)" style="display: inherit">
					Try Again
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="col-md">
			<div class="form-group">
				<label for="middleName">Middle Name</label>
				<input [(ngModel)]="person.middleName" (input)="onChanges()" type="text" class="form-control" id="middleName">
			</div>
		</div>
		<div class="col-md">
			<div class="form-group">
				<label for="lastName" [class.required]="required">Last Name</label>
				<input [(ngModel)]="person.lastName" (input)="onChanges()" type="text" class="form-control" id="lastName">
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md">
			<div class="form-group">
				<label for="beef" [class.required]="required">Email</label>
				<input [(ngModel)]="person.email" (input)="onChanges()" type="text" class="form-control" id="beef" [pattern]="emailRegex">
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md">
			<div class="form-group">
				<label for="phone" [class.required]="required">Phone</label>
				<input [(ngModel)]="person.phone" (input)="onChanges()" type="text" class="form-control" id="phone" [pattern]="phoneRegex">
			</div>
		</div>
		<div class="col-md">
			<div class="form-group">
				<label for="fax">Fax</label>
				<input [(ngModel)]="person.fax" (input)="onChanges()" type="text" class="form-control" id="fax" [pattern]="phoneRegex">
			</div>
		</div>-->
	<app-address formControlName="address"></app-address>
</fieldset>

<!-- typeOfEmployee: string;<br>
firstName: string;<br>
middleName: string;<br>
lastName: string;<br>
title: string;<br>
email: string;<br>
phone: string;<br>
fax: string;<br>
address: iAddress;<br>
baseHourlyWage: number;<br>
hoursWorkedPerWeek: number;<br>
annualSalary: number;<br>
benefits: number;<br>
fundedFromVCSP: number;<br>
personId: string;<br> -->

<pre>PersonForm{{internalFormGroup.value|json}}</pre>