.go-bottoms {
  position: -webkit-sticky;
  position: sticky;
  bottom: 5px;
}

th {
  width: 40%;
}

.prev-next-div {
  margin-bottom: 10px;
  /* position: -webkit-sticky;
  position: sticky;
  top: 20px; */
}

.nav-link:hover {
  color: #fff;
  -webkit-text-fill-color: white;
  background-color: #7590b9;
}

.nav-link {
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
}

.nav-link.active {
  color: #fff !important;
  background-color: #38598a !important;
}
