<h2 class="blue-header">Primary Contact Information</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2" scope="col">Primary Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="col-3 text-right" scope="row">Email Address</th>
      <td>{{tpa?.contactInformation?.emailAddress}}</td>
    </tr>
    <tr>
      <th class="col-3 text-right" scope="row">Phone Number</th>
      <td>{{tpa?.contactInformation?.phoneNumber}}</td>
    </tr>
    <tr>
      <th class="col-3 text-right" scope="row">Fax Number</th>
      <td>{{tpa?.contactInformation?.faxNumber}}</td>
    </tr>
  </tbody>
</table>
<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2" scope="col">Location Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="col-3 text-right" scope="row">Line 1</th>
      <td>{{tpa?.contactInformation?.mainAddress?.line1}}</td>
    </tr>
    <tr>
      <th class="col-3 text-right" scope="row">Line 2</th>
      <td>{{tpa?.contactInformation?.mainAddress?.line2}}</td>
    </tr>
    <tr>
      <th class="col-3 text-right" scope="row">City</th>
      <td>{{tpa?.contactInformation?.mainAddress?.city}}</td>
    </tr>
    <tr>
      <th class="col-3 text-right" scope="row">Province</th>
      <td>{{tpa?.contactInformation?.mainAddress?.province}}</td>
    </tr>
    <tr>
      <th class="col-3 text-right" scope="row">Postal Code</th>
      <td>{{tpa?.contactInformation?.mainAddress?.postalCode}}</td>
    </tr>
  </tbody>
</table>
<table *ngIf="tpa.contactInformation.mailingAddress" class="table table-striped">
  <thead>
    <tr>
      <th colspan="2" scope="col">Mailing Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="col-3 text-right" scope="row">Line 1</th>
      <td>{{tpa?.contactInformation?.mailingAddress?.line1}}</td>
    </tr>
    <tr>
      <th class="col-3 text-right" scope="row">Line 2</th>
      <td>{{tpa?.contactInformation?.mailingAddress?.line2}}</td>
    </tr>
    <tr>
      <th class="col-3 text-right" scope="row">City</th>
      <td>{{tpa?.contactInformation?.mailingAddress?.city}}</td>
    </tr>
    <tr>
      <th class="col-3 text-right" scope="row">Province</th>
      <td>{{tpa?.contactInformation?.mailingAddress?.province}}</td>
    </tr>
    <tr>
      <th class="col-3 text-right" scope="row">Postal Code</th>
      <td>{{tpa?.contactInformation?.mailingAddress?.postalCode}}</td>
    </tr>
  </tbody>
</table>

<app-person-table [title]="'Executive Contact'" [person]="tpa.contactInformation.executiveContact"></app-person-table>
<app-person-table [title]="'Board Contact'" [person]="tpa.contactInformation.boardContact"></app-person-table>

<h2 class="blue-header">Applicant Administrative Information</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2" scope="col">Compliance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="col-3 text-right" scope="row">Compliant with Employment Standards Act of BC</th>
      <td>{{tpa?.administrativeInformation?.compliantEmploymentStandardsAct?'Yes':'No'}}</td>
    </tr>
    <tr>
      <th class="col-3 text-right" scope="row">Compliant with BC's Human Rights Code</th>
      <td>{{tpa?.administrativeInformation?.compliantHumanRights ?'Yes':'No'}}</td>
    </tr>
    <tr>
      <th class="col-3 text-right" scope="row">Compliant with Worker's Compensation Act (WorkSafe BC)</th>
      <td>{{tpa?.administrativeInformation?.compliantWorkersCompensation ?'Yes':'No'}}</td>
    </tr>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2" scope="col">Union Associations</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="col-3 text-right" scope="row">Staff are union affiliated</th>
      <td>{{tpa?.administrativeInformation?.staffUnionized?'Yes':'No'}}</td>
    </tr>
    <tr *ngIf="tpa?.administrativeInformation?.staffUnionized">
      <th class="col-3 text-right" scope="row">Union</th>
      <td>{{tpa?.administrativeInformation?.staffUnion}}</td>
    </tr>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2" scope="col">CCSEA Membership</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="col-3 text-right" scope="row">Member Type</th>
      <td>{{tpa?.administrativeInformation?.ccseaMemberType}}</td>
    </tr>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2" scope="col">Subcontracted Staff</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="col-3 text-right" scope="row">Staff are subcontracted</th>
      <td>{{tpa?.administrativeInformation?.staffSubcontracted ?'Yes':'No'}}</td>
    </tr>
    <tr *ngFor="let person of tpa?.administrativeInformation?.staffSubcontractedPersons; let i=index">
      <th class="col-3 text-right" scope="row">Subcontractor {{i+1}}</th>
      <td>{{person.firstName}} {{person.middleName}} {{person.lastName}}{{person.title?' - '+person.title:''}}</td>
    </tr>
  </tbody>
</table>

<h2 class="blue-header">Commercial General Liability Insurance</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2" scope="col">CGL Insurance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="col-3 text-right" scope="row">Stated as</th>
      <td>{{tpa.cglInsurance}}</td>
    </tr>
  </tbody>
</table>
<div *ngFor="let programApplication of tpa.programApplications">
  <h2 class="blue-header">Program: {{programApplication.name}}</h2>
  <app-program-summary-table [pa]="programApplication"></app-program-summary-table>
</div>

<pre>{{tpa|json}}</pre>
