<fieldset [formGroup]="formGroup">
	<div class="form-row">
		<div class="col-md">
			<div class="form-group">
				<label for="line1" [class.required]="required">Address Line 1</label>
				<input #line1 type="text" class="form-control" id="line1" name="line1" [formControlName]="formControlNames.line1" [required]="required">
				<div class="valid-feedback" [hidden]="showValidFeedback(line1)" style="display: inherit">
					Ok
				</div>
				<div class="invalid-feedback" [hidden]="showInvalidFeedback(line1)" style="display: inherit">
					Try Again
				</div>
			</div>
		</div>
		<div class="col-md">
			<div class="form-group">
				<label for="line2">Address Line 2</label>
				<input #line2 type="text" class="form-control" id="line2" name="line2" [formControlName]="formControlNames.line2">
				<div class="valid-feedback" [hidden]="showValidFeedback(line2)" style="display: inherit">
					Ok
				</div>
				<div class="invalid-feedback" [hidden]="showInvalidFeedback(line2)" style="display: inherit">
					Try Again
				</div>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md">
			<div class="form-group">
				<label for="city" class="required">City</label>
				<input #city type="text" class="form-control" id="city" name="city" [formControlName]="formControlNames.city" [required]="required">
				<div class="valid-feedback" [hidden]="showValidFeedback(city)" style="display: inherit">
					Ok
				</div>
				<div class="invalid-feedback" [hidden]="showInvalidFeedback(city)" style="display: inherit">
					Try Again
				</div>
			</div>
		</div>
		<div class="col-md">
			<div class="form-group">
				<label for="province" [class.required]="required">Province</label>
				<select #province class="form-control" name="province" id="province" [formControlName]="formControlNames.province" [required]="required">
					<option value="" disabled></option>
					<option *ngFor="let area of country.areas" [value]="area">{{area}}</option>
				</select>
				<div class="valid-feedback" [hidden]="showValidFeedback(province)" style="display: inherit">
					Ok
				</div>
				<div class="invalid-feedback" [hidden]="showInvalidFeedback(province)" style="display: inherit">
					Try Again
				</div>
			</div>
		</div>
	</div>
	{{formGroup.valid}}
	{{formGroup.value|json}}
	<!-- 
		
		<div class="form-row">
			<div class="col-md">
			<div class="form-group">
				<label for="postalCode" class="required">Postal Code</label>
				<input [(ngModel)]="contactInformationForm.mainAddress.postalCode" type="text" class="form-control" id="postalCode" [pattern]="postalCodeValidRegex" name="postalCode" #postalCode="ngModel" required>
				<div class="valid-feedback" [hidden]="showValidFeedback(postalCode)" style="display: inherit">
					Ok
				</div>
				<div class="invalid-feedback" [hidden]="showInvalidFeedback(postalCode)" style="display: inherit">
					Try Again
				</div>
			</div>
		</div> 
	</div>
-->
</fieldset>