<div class="container">
  <div class="row">
    <div class="col-md-4">
      <section class="application-nav sticky-top">
        <div style="max-height: 90%;">
          <div class="card organization-box" *ngIf="trans">
            <div class="card-header">
              {{ trans.organizationName ||'Organization'}}
            </div>
            <div class="card-body" *ngIf="isContractUpload">
              <p class="card-text">
                <strong>Contract No</strong><br>
                {{contractNumber}}
              </p>
            </div>
          </div>
        </div>
        <button class="btn btn-primary mt-2" (click)="exit()">Exit</button>
      </section>
    </div>
    <div class="col">
      <div>
        <div class="page-header">
          <h1>{{isContractUpload ? "Upload Documents" : "Upload General Documents"}}</h1>
        </div>
        <div>
          <ul *ngIf="documentsToAdd.length" class="list-group mb-2">
            <li *ngFor="let doc of documentsToAdd; let i=index" class="list-group-item d-flex justify-content-between align-items-center">
              <span class="file-name-container">
                {{doc.filename}}
              </span>

              <span class="file-type-container">
                <label class="file-type-label">File Type</label>
                <select class="form-control file-type-select" [(ngModel)]="doc.subject" #doctype="ngModel">
                  <option *ngFor="let type of document_types" [value]="type">{{type}}</option>
                </select>
                <ng-container *ngIf="doc.subject === 'Other'">
                  <input type="text" class="form-control other-input" [(ngModel)]="doc.subjectOther" #city="ngModel">
                </ng-container>
              </span>
              <span (click)="removeFile(i)">
                <i class="fas fa-times-circle text-danger"></i>
              </span>
            </li>
          </ul>
          <input #files id="files" type="file" style="display: none" (change)="onFilesAdded($event.target.files)" multiple>
          <button type="button" class="btn btn-warning" (click)="fakeBrowseClick()">Add File</button>
          <button class="btn btn-warning ml-2" [class.is-disabled]="documentsToAdd.length == 0 || saving" (click)="upload()">Upload Files</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row min-row-height">
    <div class="col-md-12">
    </div>
  </div>
</div>