<div class="form-wrapper" style="position: relative;">
  <div class="row">
    <div class="col-lg-3 col-sm-12 application-gutter">
      <section class="application-nav">
        <h3>Renew Application</h3>
        <mat-vertical-stepper (selectionChange)="gotoPage($event)" #stepper>
          <ng-template matStepperIcon="edit">
            <mat-icon>done</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="number">
          </ng-template>
          <mat-step *ngFor="let item of upperItems" label="{{item}}"></mat-step>
          <mat-step *ngFor="let item of programs" label="Program: {{item}}"></mat-step>
          <mat-step *ngFor="let item of lowerItems" label="{{item}}"></mat-step>
        </mat-vertical-stepper>
      </section>

      <section class="submit-container learn-benefits">
        <div class="submit-content">
          <h2>Want to learn more about your Benefits?</h2>
          <p>Click below to open a new window and view the full summary of benefits.</p>
          <p>You will not lose your progress on this application.</p>
          <p><button class="btn btn-secondary btn-wrappable" (click)="showSummaryOfBenefits()">View Summary of Benefits</button></p>
        </div>
      </section>
    </div>

    <div class="col-lg-7 col-sm-12">

      <div *ngFor="let item of upperItems">
        <div *ngIf="currentFormPage === item">
          <div class="page-header">
            <h1>{{item}}</h1>
          </div>
          {{item}} component

          <div *ngIf="item === 'Applicant Contact Information'">
            <app-applicant-contact-information [(contactInformation)]="contactInformation"></app-applicant-contact-information>
            <pre>
              {{contactInformation|json}}
            </pre>
          </div>
        </div>
      </div>
      <div *ngFor="let item of programs">
        <div *ngIf="currentFormPage === item">
          <div class="page-header">
            <h1>{{item}}</h1>
          </div>
          {{item}} component
        </div>
      </div>

      <div *ngFor="let item of lowerItems">
        <div *ngIf="currentFormPage === item">
          <div class="page-header">
            <h1>{{item}}</h1>
          </div>
          {{item}} component
        </div>
      </div>

      <section class="button-container">
        <a (click)="cancel()"><i class="fas fa-trash-alt" style="margin-right: 10px;"></i>Cancel Application</a>
        <span style="float: right;">
          <button class="btn btn-primary" *ngIf="stepper.selectedIndex < 10">CONTINUE <i class="fas fa-chevron-right"></i></button>
          <button class="btn btn-primary" *ngIf="stepper.selectedIndex == 10">PRINT PDF</button>&nbsp;
          <button class="btn btn-primary" *ngIf="stepper.selectedIndex == 10">SUBMIT APPLICATION <i class="fas fa-chevron-right"></i></button>
        </span>
      </section>
    </div>
  </div>
</div>
