<form #piForm="ngForm" (input)="onInput()">
  <ul class="nav nav-pills">
    <li *ngFor="let tab of tabs" class="nav-item">
      <a class="nav-link" [class.active]="tab===currentTab" (click)="currentTab=tab">{{tab}}</a>
    </li>
  </ul>

  <div *ngIf="currentTab===tabs[0]">
    {{tabs[0]}} </div>
  <div *ngIf="currentTab===tabs[1]">
    {{tabs[1]}} </div>
  <div *ngIf="currentTab===tabs[2]">
    {{tabs[2]}} </div>

</form>
<pre>Form Valid: {{piForm.form.valid}}
{{programInformationForm|json}}</pre>
