<div class="container">
	<div class="row">
		<div class="col-md-4">
			<app-contract-tombstone [organizationId]="organizationId" [contractId]="contractId"></app-contract-tombstone>

			<section class="application-nav sticky-top">
				<app-icon-stepper></app-icon-stepper>
			</section>
		</div>

		<div class="col-md-8">
			<div *ngIf="stepperElements && currentStepperElement">
				<div class="page-header">
					<h1>{{currentStepperElement.itemName}}</h1>
				</div>
				<div *ngFor="let item of stepperElements">
					<!-- remove the old stepper elements off of the dom -->
					<div *ngIf="isCurrentStepperElement(item)">
						<!-- Check the discriminator -->
						<div *ngIf="item.discriminator === 'program_overview'">
							Program Overview
						</div>
						<div *ngIf="item.discriminator === 'program_budget_summary'">
							Program Buget Summary
						</div>
						<div *ngIf="item.discriminator === 'program'">
							Program Budget
							<app-program-budget [stepperElement]="item"></app-program-budget>
						</div>
						<div *ngIf="item.discriminator === 'authorization'">
							Authorization
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>