<div class="container">
	<div class="row">
		<div class="col-md-4">
			<app-contract-tombstone [organizationId]="organizationId" [contractId]="contractId"></app-contract-tombstone>

			<section class="application-nav sticky-top">
				<app-icon-stepper></app-icon-stepper>
			</section>
		</div>

		<div class="col-md-8">
			<!-- Section is not in programs list -->
			<div *ngIf="stepperElements && currentStepperElement">
				<div class="page-header">
					<h1>{{currentStepperElement.itemName}}</h1>
				</div>
				<div *ngFor="let item of stepperElements">
					<div *ngIf="isCurrentStepperElement(item)">
						<div *ngIf="item.discriminator === 'program_overview'">
							Program Overview
						</div>
						<div *ngIf="item.discriminator === 'program_budget_summary'">
							Program Buget Summary
						</div>
						<div *ngIf="item.discriminator === 'program'">
							Program Budget
							<app-program-budget [stepperElement]="item"></app-program-budget>
						</div>
						<div *ngIf="item.discriminator === 'authorization'">
							Authorization
						</div>
						<!-- <pre>{{item.object|json}}</pre> -->
					</div>
				</div>
				<!-- <pre>{{currentStepperElement|json}}</pre> -->
			</div>
			<!-- <div *ngFor="let item of stepperElementsTop">
				<div *ngIf="isCurrentStepperElement(item)">
					<span *ngIf="currentStepperElement.itemName === stepperElementsTop[0].itemName">
						<app-program-overview [stepperElement]="stepperElementsTop[0]"></app-program-overview>
					</span>
					<span *ngIf="currentStepperElement.itemName === stepperElementsTop[1].itemName">
						<app-program-budget-summary [stepperElement]="stepperElementsTop[1]"></app-program-budget-summary>
					</span>
				</div>
			</div>
			<div *ngFor="let item of stepperElementsPrograms">
				<div *ngIf="isCurrentStepperElement(item)">
					<app-program-budget [stepperElement]="item"></app-program-budget>
				</div>
			</div>
			<div *ngFor="let item of stepperElementsBottom">
				<div *ngIf="isCurrentStepperElement(item)">
					<span *ngIf="currentStepperElement.itemName === 'Authorization'">
						<app-program-authorizer></app-program-authorizer>
					</span>
				</div>
			</div> -->

		</div>
	</div>
</div>