<div class="container">
	<div class="row">
		<div class="col" [formGroup]="contactInformationForm">
			<app-contact-information formControlName="contactInformation"></app-contact-information>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<!-- Button states for the form: Can submit, Can't submit, (TODO: in process of submitting) -->
			<button *ngIf="contactInformation" (click)="onSave()" class="btn btn-primary">Save</button>
			<button *ngIf="!contactInformation" class="btn btn-primary" disabled>Save</button>
		</div>
	</div>
</div>
<pre>{{contactInformationForm.value|json}}</pre>