<div class="container">
	<div class="row">
		<div class="col-md-4">
			<app-contract-tombstone [organizationId]="organizationId" [contractId]="contractId"></app-contract-tombstone>

			<section class="application-nav sticky-top">
				<app-icon-stepper [stepperElements]="stepperElementsCombined" [(stepperElement)]="currentStepperElement"></app-icon-stepper>
			</section>
		</div>

		<div class="col-md-8">
			<!-- Section is not in programs list -->

			<div class="page-header">
				<h1>{{currentStepperElement.itemName}}</h1>
			</div>
			<!-- Loop through items -->
			<div *ngFor="let item of stepperElementsTop">
				<!-- if the item name matches show this section -->
				<div *ngIf="isCurrentStepperElement(item)">
					<span *ngIf="currentStepperElement.itemName === stepperElementsTop[0].itemName">
						<!-- Contact information here -->
						<div class="col" [formGroup]="contactInformationForm">
							<app-contact-information formControlName="contactInformation" [required]="true"></app-contact-information>
						</div>
					</span>
					<span *ngIf="currentStepperElement.itemName === stepperElementsTop[1].itemName">
						<app-administrative-information [(administrativeInformation)]="administrativeInformationForm" (valid)="administrativeInformationIsValid($event)"></app-administrative-information>
					</span>
					<span *ngIf="currentStepperElement.itemName === stepperElementsTop[2].itemName">
						Commercial insurance things
					</span>
				</div>
			</div>
			<!-- Loop through items -->
			<div *ngFor="let item of stepperElementsPrograms">
				<!-- if the item name matches show this section -->
				<div *ngIf="isCurrentStepperElement(item)">
					Program stuff here
					<!-- <app-program-budget [stepperElement]="item"></app-program-budget> -->
				</div>
			</div>
			<!-- Loop through items -->
			<div *ngFor="let item of stepperElementsBottom">
				<!-- if the item name matches show this section -->
				<div *ngIf="isCurrentStepperElement(item)">
					<span *ngIf="currentStepperElement.itemName === stepperElementsBottom[0].itemName">
						Do some review here
					</span>
					<span *ngIf="currentStepperElement.itemName === stepperElementsBottom[1].itemName">
						<app-program-authorizer></app-program-authorizer>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>