<form #ciForm="ngForm" (input)="onInput()">
  <h2 class="blue-header">{{title}}</h2>
  <div class="form-group">
    <label for="emailAddress" class="required">Email Address</label>
    <input [(ngModel)]="contactInformationForm.emailAddress" type="text" class="form-control" id="emailAddress" name="emailAddress" #emailAddress="ngModel" [pattern]="emailValidRegex" required>
    <div class="valid-feedback" [hidden]="showValidFeedback(emailAddress)" style="display: inherit">
      Ok
    </div>
    <div class="invalid-feedback" [hidden]="showInvalidFeedback(emailAddress)" style="display: inherit">
      Try Again
    </div>
  </div>

  <div class="form-row">
    <div class="col-md">
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input [(ngModel)]="contactInformationForm.phoneNumber" type="text" class="form-control" id="phoneNumber" name="phoneNumber" [pattern]="phoneValidRegex" #phoneNumber="ngModel">
        <div class="valid-feedback" [hidden]="showValidFeedback(phoneNumber)" style="display: inherit">
          Ok
        </div>
        <div class="invalid-feedback" [hidden]="showInvalidFeedback(phoneNumber)" style="display: inherit">
          Try Again
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <label for="faxNumber">Fax Number</label>
        <input [(ngModel)]="contactInformationForm.faxNumber" type="text" class="form-control" id="faxNumber" name="faxNumber" [pattern]="phoneValidRegex" #faxNumber="ngModel">
        <div class="valid-feedback" [hidden]="showValidFeedback(faxNumber)" style="display: inherit">
          Ok
        </div>
        <div class="invalid-feedback" [hidden]="showInvalidFeedback(faxNumber)" style="display: inherit">
          Try Again
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md">
      <div class="form-group">
        <label for="line1" class="required">Address Line 1</label>
        <input [(ngModel)]="contactInformationForm.mainAddress.line1" type="text" class="form-control" id="line1" name="line1" #line1="ngModel" required>
        <div class="valid-feedback" [hidden]="showValidFeedback(line1)" style="display: inherit">
          Ok
        </div>
        <div class="invalid-feedback" [hidden]="showInvalidFeedback(line1)" style="display: inherit">
          Try Again
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <label for="line2">Address Line 2</label>
        <input [(ngModel)]="contactInformationForm.mainAddress.line2" type="text" class="form-control" id="line2" name="line2" #line2="ngModel">
        <div class="valid-feedback" [hidden]="showValidFeedback(line2)" style="display: inherit">
          Ok
        </div>
        <div class="invalid-feedback" [hidden]="showInvalidFeedback(line2)" style="display: inherit">
          Try Again
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md">
      <div class="form-group">
        <label for="city" class="required">City</label>
        <input [(ngModel)]="contactInformationForm.mainAddress.city" type="text" class="form-control" id="city" name="city" #city="ngModel" required>
        <div class="valid-feedback" [hidden]="showValidFeedback(city)" style="display: inherit">
          Ok
        </div>
        <div class="invalid-feedback" [hidden]="showInvalidFeedback(city)" style="display: inherit">
          Try Again
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <label for="province" class="required">Province</label>
        <select class="form-control" [(ngModel)]="contactInformationForm.mainAddress.province" name="province" id="province" #province="ngModel" required>
          <option *ngFor="let area of country.areas" [value]="area">{{area}}</option>
        </select>
        <div class="valid-feedback" [hidden]="showValidFeedback(province)" style="display: inherit">
          Ok
        </div>
        <div class="invalid-feedback" [hidden]="showInvalidFeedback(province)" style="display: inherit">
          Try Again
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md">
      <div class="form-group">
        <label for="postalCode" class="required">Postal Code</label>
        <input [(ngModel)]="contactInformationForm.mainAddress.postalCode" type="text" class="form-control" id="postalCode" [pattern]="postalCodeValidRegex" name="postalCode" #postalCode="ngModel" required>
        <div class="valid-feedback" [hidden]="showValidFeedback(postalCode)" style="display: inherit">
          Ok
        </div>
        <div class="invalid-feedback" [hidden]="showInvalidFeedback(postalCode)" style="display: inherit">
          Try Again
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <label for="hasMailingAddress">Different Mailing Address</label>
        <div class="form-group form-check">
          <input (click)="setMailingAddress(hasMailingAddress)" type="checkbox" class="form-check-input" id="hasMailingAddress" name="hasMailingAddress" [(ngModel)]="hasMailingAddress">
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="hasMailingAddress">
    <h2 class="blue-header">Mailing Address</h2>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="mailCity" class="required">City</label>
          <input [(ngModel)]="contactInformationForm.mailingAddress.city" type="text" class="form-control" id="mailCity" name="mailCity" #mailCity="ngModel" required>
          <div class="valid-feedback" [hidden]="showValidFeedback(mailCity)" style="display: inherit">
            Ok
          </div>
          <div class="invalid-feedback" [hidden]="showInvalidFeedback(mailCity)" style="display: inherit">
            Try Again
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="form-group">
          <div class="form-group">
            <label for="mailProvince" class="required">Province</label>
            <select class="form-control" [(ngModel)]="contactInformationForm.mailingAddress.province" name="mailProvince" id="mailProvince" #mailProvince="ngModel" required>
              <option *ngFor="let area of country.areas" [value]="area">{{area}}</option>
            </select>
            <div class="valid-feedback" [hidden]="showValidFeedback(mailProvince)" style="display: inherit">
              Ok
            </div>
            <div class="invalid-feedback" [hidden]="showInvalidFeedback(mailProvince)" style="display: inherit">
              Try Again
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="mailPostalCode" class="required">Postal Code</label>
          <input [(ngModel)]="contactInformationForm.mailingAddress.postalCode" type="text" class="form-control" id="mailPostalCode" [pattern]="postalCodeValidRegex" name="mailPostalCode" #mailPostalCode="ngModel" required>
          <div class="valid-feedback" [hidden]="showValidFeedback(mailPostalCode)" style="display: inherit">
            Ok
          </div>
          <div class="invalid-feedback" [hidden]="showInvalidFeedback(mailPostalCode)" style="display: inherit">
            Try Again
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Submit button and validation note -->
  <div class="form-group">
    <div class="invalid-feedback" [hidden]="ciForm.form.valid || ciForm.form.pristine">
      One or more required fields is missing from the submission.
    </div>
  </div>
</form>
