<form name="form" (input)="onInput()" novalidate>

  <ul class="nav nav-pills mb-2">
    <li *ngFor="let tab of tabs" class="nav-item">
      <a class="nav-link nav-tab" [class.active]="tab===programApplication.currentTab" (click)="setCurrentTab(tab)">{{tab}}</a>
    </li>
  </ul>

  <div *ngIf="programApplication.currentTab===tabs[0]">
    <h2 class="blue-header">Main Program Information</h2>
    <div class="form-group">
      <label for="programLocation">Program Location</label>
      <input class="form-control" type="text" [ngModel]="programApplication.programLocation" id="programLocation" name="programLocation" disabled>
    </div>
    <!-- <div class="form-group">
      <label for="serviceArea">Service Area</label>
      <input class="form-control" type="text" [ngModel]="programApplication.serviceArea" id="serviceArea" name="serviceArea" disabled>
    </div> -->

    <h2 class="blue-header">Primary Program Contact Information</h2>
    <app-primary-contact-info [(contactInformation)]="programApplication"></app-primary-contact-info>
    <app-address2 [(address)]="programApplication.mainAddress"></app-address2>



    <h2 class="blue-header">Mailing Address</h2>
    <div class="form-check">
      <input [(ngModel)]="programApplication.mailingAddressSameAsMainAddress" class="form-check-input" type="checkbox" id="mailingAddressSameAsMainAddress" name="mailingAddressSameAsMainAddress" (click)="setMailingAddressSameAsMainAddress()">
      <label class="form-check-label" for="mailingAddressSameAsMainAddress">
        Please select this check box if mailing address is the same as Primary Program Contact Address
      </label>
    </div>
    <app-address2 [(address)]="programApplication.mailingAddress"></app-address2>

    <!-- <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" id="differentProgramContact" name="differentProgramContact" type="checkbox" [(ngModel)]='differentProgramContact' (click)="showProgramContact()">
        <label class="form-check-label" for="differentProgramContact"> The main program contact is different from the executive contact for our organization.</label>
      </div>
    </div> -->
    <!-- *ngIf="differentProgramContact" -->
    <span class="mb-4">
      <h2 class="blue-header">Program Contact</h2>
      <app-person-picker [title]="'Please select a program contact.'" [(person)]="programApplication.programContact" (personChange)="onProgramContactChange($event)">
      </app-person-picker>
    </span>
    <h2 class="blue-header mt-2">Program Staff</h2>
    <p>Missing staff can be added by name and set at an organizational level.</p>
    <app-person-picker-list [label]="'Program Staff'" [(personsObj)]="personsObj" (personsChange)="onProgramStaffChange($event)"></app-person-picker-list>
    <!-- [(persons)]="programApplication.additionalStaff" [(removedPersons)]="programApplication.removedStaff"> -->
    <!-- </app-person-picker-list> -->

    <div *ngIf="programApplication.isPoliceBased">
      <div>
        <h2 class="blue-header mt-2">For Police-Based Victim Service program only</h2>
        <input [(ngModel)]="programApplication.hasPoliceContact" class="form-check-input" type="checkbox" id="hasPoliceContact" name="hasPoliceContact">
        <label class="form-check-label" for="hasPoliceContact">
          Select if your Police Based Victim Services Program has a police contact
        </label>
        <div *ngIf="programApplication.hasPoliceContact">
          <h5>Police Detachment / Department Supervisor</h5>
          <app-person-editor [(person)]="programApplication.policeContact" [isPoliceContact]="true" (setAddress)="setAddressSameAsAgency($event)"></app-person-editor>
        </div>
      </div>

      <div *ngIf="programApplication.hasPoliceContact" class="shared-cost-contact-div">
        <input [(ngModel)]="programApplication.hasSharedCostContact" class="form-check-input" type="checkbox" id="hasSharedCostContactCheckbox" name="hasSharedCostContactCheckbox">
        <label class="form-check-label" for="hasSharedCostContactCheckbox">
          Does your Police based Victim Services Program receive a <b>Cost-Share</b> contribution from your local government?<br>
          If yes, please provide the name and contact information for your local government funder:
          <!-- Please select the checkbox to complete your police contact and <b>Cost Share</b> information -->
        </label>
        <div *ngIf="programApplication.hasSharedCostContact">
          <app-person-editor [(person)]="programApplication.sharedCostContact" [isPoliceContact]="true" (setAddress)="setAddressSameAsAgency($event)"></app-person-editor>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="programApplication.currentTab===tabs[1]">
    <h2 class="blue-header">Program Schedule Hours of Operation (not including on-call / stand-by hours)</h2>
    <div *ngFor="let hours of programApplication.operationHours; let i=index">
      <ng-container *ngIf="hours.isActive">
        <app-hours [(hours)]="hours"></app-hours>
        <div class="retain-height">
          <a (click)="removeOperationHours(i)" class="align-right btn btn-sm btn-outline-danger text-danger mt-1 mb-2">Remove</a>
        </div>
      </ng-container>
    </div>
    <div>
      <div class="form-row">
        <div class="col-md-4">
          <button class="btn btn-primary mb-4 mt-2" (click)="addOperationHours()">Add Operation Hours</button>
        </div>

        <div class="col-md-8 inline-col">
          <label class="hours-label" for="scheduledHours">Total Scheduled Hours per {{perType}}</label>
          <input [(ngModel)]="programApplication.scheduledHours" type="number" id="scheduledHours" name="scheduledHours" class="form-control hours-input" (input)="formHelper.numberFormatter($event.target, programApplication, 'scheduledHours')">
        </div>
      </div>

    </div>
    <h2 class="blue-header">Program On-call / Stand-by Hours of Operation</h2>
    <div *ngFor="let hours of programApplication.standbyHours; let i=index">
      <ng-container *ngIf="hours.isActive">
        <app-hours [(hours)]="hours"></app-hours>
        <div class="retain-height">
          <a (click)="removeStandbyHours(i)" class="align-right btn btn-sm btn-outline-danger text-danger mt-1 mb-2">Remove</a>
        </div>
      </ng-container>
    </div>
    <div>
      <div class="form-row">
        <div class="col-md-4">
          <button class="btn btn-primary mb-4 mt-2" (click)="addStandbyHours()">Add On-call/Stand-by Hours</button>
        </div>
        <div class="col-md-8 inline-col">
          <label class="hours-label" for="onCallHours">Total On-call/Stand-by Hours per {{perType}}</label>
          <input [(ngModel)]="programApplication.onCallHours" type="number" id="onCallHours" name="onCallHours" class="form-control hours-input" (input)="formHelper.numberFormatter($event.target, programApplication, 'onCallHours')">
        </div>
      </div>
    </div>
    <div class="form-row extra-padding">
      <div class="col-md-6 message-container">
        <p class="info-message">This is the number of service hours indicated in the attached cover letter for this program:</p>
      </div>
      <div class="col-md-6 inline-col">
        <div class="card">
          <div class="card-body inline-card">
            <input [(ngModel)]="programApplication.numberOfHours" type="number" id="numberOfHours" name="numberOfHours" class="form-control hours-input" disabled>
            <label class="hours-label" for="numberOfHours">Hours per {{perType}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>