<form name="form" (input)="onInput()" novalidate>

  <ul class="nav nav-pills mb-2">
    <li *ngFor="let tab of tabs" class="nav-item">
      <a class="nav-link" [class.active]="tab===currentTab" (click)="setCurrentTab(tab)">{{tab}}</a>
    </li>
  </ul>

  <div *ngIf="currentTab===tabs[0]">
    <h2 class="blue-header">Main Program Information</h2>
    <div class="form-group">
      <label for="programLocation">Program Location</label>
      <input class="form-control" type="text" [ngModel]="programApplication.programLocation" id="programLocation" name="programLocation" disabled>
    </div>
    <div class="form-group">
      <label for="serviceArea">Service Area</label>
      <input class="form-control" type="text" [ngModel]="programApplication.serviceArea" id="serviceArea" name="serviceArea" disabled>
    </div>

    <h2 class="blue-header">Primary Program Contact Information</h2>
    <app-primary-contact-info [(contactInformation)]="programApplication"></app-primary-contact-info>
    <div class="form-row">
      <div class="col-md">
        <div class="form-group">
          <label for="emailAddress">Email</label>
          <input type="text" class="form-control" id="emailAddress" name="emailAddress" [(ngModel)]="programApplication.emailAddress" #emailAddress="ngModel" [pattern]="emailRegex">
          <div class="valid-feedback" [hidden]="formHelper.showValidFeedback(emailAddress)">
            Ok
          </div>
          <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedback(emailAddress)">
            Try Again
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md">
        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="programApplication.phoneNumber" #phoneNumber="ngModel" [pattern]="phoneRegex">
          <div class="valid-feedback" [hidden]="formHelper.showValidFeedback(phoneNumber)">
            Ok
          </div>
          <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedback(phoneNumber)">
            Try Again
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="form-group">
          <label for="faxNumber">Fax Number</label>
          <input type="text" class="form-control" id="faxNumber" name="faxNumber" [(ngModel)]="programApplication.faxNumber" #faxNumber="ngModel" [pattern]="phoneRegex">
          <div class="valid-feedback" [hidden]="formHelper.showValidFeedback(faxNumber)">
            Ok
          </div>
          <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedback(faxNumber)">
            Try Again
          </div>
        </div>
      </div>
    </div>
    <app-address2 [(address)]="programApplication.mainAddress"></app-address2>
    <h2 class="blue-header">Mailing Address</h2>
    <app-address2 [(address)]="programApplication.mailingAddress"></app-address2>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" id="differentProgramContact" name="differentProgramContact" type="checkbox" [(ngModel)]='differentProgramContact' (click)="showProgramContact()">
        <label class="form-check-label" for="differentProgramContact"> The main program contact is different from the executive contact for our organization.</label>
      </div>
    </div>
    <span class="mb-4" *ngIf="differentProgramContact">
      <h2 class="blue-header">Program Contact</h2>
      <app-person-picker [title]="'Please select a program contact.'" (person)="onProgramContactChange($event)"></app-person-picker>
    </span>
    <h2 class="blue-header mt-2">Program Staff</h2>
    <p>Missing staff can be added by name and set at an organizational level.</p>
    <!-- <app-person-picker-list [(persons)]="programApplication"></app-person-picker-list> -->
  </div>
  <div *ngIf="currentTab===tabs[1]">
    <h2 class="blue-header">Program Schedule Hours of Operation (not including on-call / stand-by hours)</h2>
    <div *ngFor="let hours of programApplication.operationHours; let i=index">
      <app-hours [(hours)]="hours"></app-hours>
      <a (click)="removeOperationHours(i)" class="btn btn-sm btn-outline-danger text-danger mt-1 mb-2">Remove</a>
    </div>
    <button class="btn btn-secondary mb-4 mt-2" (click)="addOperationHours()">Add Operation Hours</button>
    <h2 class="blue-header">Program On-call / Stand-by Hours of Operation</h2>
    <div *ngFor="let hours of programApplication.standbyHours; let i=index">
      <app-hours [(hours)]="hours"></app-hours>
      <a (click)="removeStandbyHours(i)" class="btn btn-sm btn-outline-danger text-danger mt-1 mb-2">Remove</a>
    </div>
    <button class="btn btn-secondary mb-4 mt-2" (click)="addStandbyHours()">Add On-call/Stand-by Hours</button>
  </div>
</form>
<!-- <span *ngIf="programApplication">
  <pre>{{programApplication|json}}</pre>
</span> -->
