<ul class="nav nav-pills mb-2">
	<li *ngFor="let tab of tabs" class="nav-item">
		<a class="nav-link" [class.active]="tab===currentTab" (click)="setCurrentTab(tab)">{{tab}}</a>
	</li>
</ul>
<h2>{{currentTab}}</h2>
<div *ngIf="currentTab===tabs[0]">
	<!-- Program revenue information -->
	<h2 class="blue-header">{{currentTab}}</h2>
	<ol>
		<li>For each program applied for, a separate Budget Proposal must be completed. </li>
		<li>For
			<strong>
				Police-based Victim Service
			</strong>
			programs that are cost-shared with municipality / regional district, the maximum
			<strong>
				"In-kind Contribution"
			</strong>
			amount that may be claimed for under "Municipal" or "Regional District" is 20% cash. "In-kind contributions" include costs for facilities (e.g. rent, utilities and maintenance), telephone, fax, and office supplies, etc.</li>
		<li>For each program, your budget should confirm that you are providing the number of service hours as stated in your contract.</li>
		<li>
			<strong>
				Your Budget Proposal must be balanced and equal to the amount identified in your Program Application Cover Letter.
			</strong>
		</li>
	</ol>
	<h2 class="blue-header">Program Revenue Sources</h2>
	<app-revenue-source-table [(revenueSources)]="revenueSources"></app-revenue-source-table>
	<!-- <pre>RevenueSources{{revenueSources|json}}</pre> -->
</div>
<div *ngIf="currentTab===tabs[1]">
	<!-- Program Expense -->
	<h2 class="blue-header">{{sections[0]}}</h2>
	<app-expense-table [(expenseItems)]="employees" [otherDescription]="'One employee per line'" (meta)="collectMeta( $event, sections[0])"></app-expense-table>
	<h2 class="blue-header">{{sections[1]}}</h2>
	<app-expense-table [(defaultExpenseItems)]="defaultExpenseItems" [(expenseItems)]="expenseItems" [otherDescription]="'Other program-related expenses. Please include memberships one per line.'" (meta)="collectMeta( $event, sections[1])"></app-expense-table>
	<h2 class="blue-header">{{sections[2]}}</h2>
	<app-expense-table [(defaultExpenseItems)]="defaultAdminExpenseItems" [(expenseItems)]="adminExpenseItems" [otherDescription]="'Other administration expenses.'" (meta)="collectMeta( $event, sections[2])"></app-expense-table>
	<span *ngIf="meta[sections[0]]||	meta[sections[1]]||	meta[sections[2]]">
		<h2 class="blue-header">Total Program Expenditures</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="row">Expense Area</th>
					<th scope="row">Total Cost</th>
					<th scope="row">Funded From VSCP</th>
					<th scope="row">Percent funded from VSCP</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="meta[sections[0]]">
					<td>{{sections[0]}}</td>
					<td>${{meta[sections[0]].totalCost||0}}</td>
					<td>${{meta[sections[0]].totalVscp||0}}</td>
					<td>{{meta[sections[0]].totalPercentFundedByVscp||0}}%</td>
				</tr>
				<tr *ngIf="meta[sections[1]]">
					<td>{{sections[1]}}</td>
					<td>${{meta[sections[1]].totalCost||0}}</td>
					<td>${{meta[sections[1]].totalVscp||0}}</td>
					<td>{{meta[sections[1]].totalPercentFundedByVscp||0}}%</td>
				</tr>
				<tr *ngIf="meta[sections[2]]">
					<td>{{sections[2]}}</td>
					<td>${{meta[sections[2]].totalCost||0}}</td>
					<td>${{meta[sections[2]].totalVscp||0}}</td>
					<td>{{meta[sections[2]].totalPercentFundedByVscp||0}}%</td>
				</tr>
				<tr>
					<th scope="row">Total Program Expenditures</th>
					<td>${{meta['totals'].totalCost||0}}</td>
					<td>${{meta['totals'].totalVscp||0}}</td>
					<td>{{meta['totals'].totalPercentFundedByVscp||0}}% or ${{(meta['totals'].totalCost||0)+meta['totals'].totalVscp||0}}</td>
				</tr>
			</tbody>
		</table>
	</span>
	<!-- <pre>{{defaultExpenseItems|json}}</pre>
	<pre>{{expenseItems|json}}</pre> -->
</div>
<!-- <pre>StepperJson{{stepperElement|json}}</pre> -->