<div *ngIf="person">
    <div class="form-row">
        <div class="col-md">
            <div class="form-group">
                <label for="fullName">Name of Contact</label>
                <input type="text" class="form-control required" id="fullName" name="fullName" [(ngModel)]="fullNameString" #fullName="ngModel">
                <div class="valid-feedback" [hidden]="formHelper.showValidFeedback(fullName)">
                    Ok
                </div>
                <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedbackOld(fullName)">
                    Try Again
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control required" id="title" name="title" [(ngModel)]="person.title" #title="ngModel">
                <div class="valid-feedback" [hidden]="formHelper.showValidFeedback(title)">
                    Ok
                </div>
                <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedbackOld(title)">
                    Try Again
                </div>
            </div>
        </div>
    </div>

    <app-address2  *ngIf="showAddressSection" [(address)]="person.address"></app-address2>

    <!-- <div class="form-row">
        <div class="col-md">
            <div class="form-group">
                <label for="line1">Address Line 1</label>
                <input type="text" class="form-control required" id="line1" name="line1" [(ngModel)]="person.address.line1" #line1="ngModel">
                <div class="valid-feedback" [hidden]="formHelper.showValidFeedback(line1)">
                    Ok
                </div>
                <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedbackOld(line1)">
                    Try Again
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="line2">Address Line 2</label>
                <input type="text" class="form-control required" id="line2" name="line2" [(ngModel)]="person.address.line2" #line2="ngModel">
                <div class="valid-feedback" [hidden]="formHelper.showValidFeedback(line2)">
                    Ok
                </div>
                <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedbackOld(line2)">
                    Try Again
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md">
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city" [(ngModel)]="person.address.city" #city="ngModel">
                <div class="valid-feedback" [hidden]="formHelper.showValidFeedback(city)">
                    Ok
                </div>
                <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedbackOld(city)">
                    Try Again
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="province">Province</label>
                <select class="form-control" name="province" id="province" [(ngModel)]="person.address.province" #province="ngModel">
                    <option *ngFor="let area of country.areas" [value]="area">{{area}}</option>
                </select>
                <div class="valid-feedback" [hidden]="formHelper.showValidFeedback(province)">
                    Ok
                </div>
                <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedbackOld(province)">
                    Try Again
                </div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md">
            <div class="form-group">
                <label for="postalCode">Postal Code</label>
                <input type="text" class="form-control" id="postalCode" name="postalCode" [(ngModel)]="person.address.postalCode" #postalCode="ngModel" [pattern]="postalRegex">
                <div class="valid-feedback" [hidden]="formHelper.showValidFeedback(postalCode)" style="display: inherit">
                    Ok
                </div>
                <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedback(person.address.postalCode, postalRegex, postalCode)" style="display: inherit">
                    Try Again
                </div>
            </div>
        </div>
    </div> -->


    <div class="form-row">
        <div class="col-md">
            <div class="form-group">
                <label for="emailAddress">Email</label>
                <input type="text" class="form-control" id="emailAddress" name="emailAddress" [(ngModel)]="person.email" #emailAddress="ngModel" [pattern]="emailRegex">
                <div class="valid-feedback" [hidden]="formHelper.showValidFeedback(emailAddress)">
                    Ok
                </div>
                <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedback(person.email, emailRegex, emailAddress)">
                    Try Again
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md">
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" mask='(000) 000 0000' class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="person.phone" #phoneNumber="ngModel" [pattern]="phoneRegex">
                <div class="valid-feedback" [hidden]="formHelper.showValidFeedback(phoneNumber)">
                    Ok
                </div>
                <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedback(person.phone, phoneRegex, phoneNumber)">
                    Try Again
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="faxNumber">Fax Number</label>
                <input type="text" mask='(000) 000 0000' class="form-control" id="faxNumber" name="faxNumber" [(ngModel)]="person.fax" #faxNumber="ngModel" [pattern]="phoneRegex">
                <div class="valid-feedback" [hidden]="formHelper.showValidFeedback(faxNumber)">
                    Ok
                </div>
                <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedback(person.fax, phoneRegex, faxNumber)">
                    Try Again
                </div>
            </div>
        </div>
    </div>
</div>