<ul class="nav nav-pills mb-2">
	<li *ngFor="let tab of tabs" class="nav-item">
		<a class="nav-link" [class.active]="tab===currentTab" (click)="currentTab=tab">{{tab}}</a>
	</li>
</ul>

<div *ngIf="currentTab===tabs[0]">
	<form #piForm="ngForm" (input)="onInput()">
		<h2 class="blue-header">Main Program Information</h2>
		<div class="form-group">
			<label for="programLocation" class="required">Program Location</label>
			<input class="form-control" type="text" [(ngModel)]="programInformationForm.programLocation" id="programLocation" name="programLocation" #programLocation="ngModel">
			<div class="valid-feedback" [hidden]="showValidFeedback(programLocation)" style="display: inherit">
				Ok
			</div>
			<div class="invalid-feedback" [hidden]="showInvalidFeedback(programLocation)" style="display: inherit">
				Try Again
			</div>
		</div>
		<div class="form-group">
			<label for="serviceArea" class="required">Service Area</label>
			<input class="form-control" type="text" [(ngModel)]="programInformationForm.serviceArea" id="serviceArea" name="serviceArea" #serviceArea="ngModel">
			<div class="valid-feedback" [hidden]="showValidFeedback(serviceArea)" style="display: inherit">
				Ok
			</div>
			<div class="invalid-feedback" [hidden]="showInvalidFeedback(serviceArea)" style="display: inherit">
				Try Again
			</div>
		</div>
	</form>

	<!-- These have been replaced with new contact information forms -->
	<!-- <app-contact-information-DELETEME [(contactInformation)]='programContactForm' [title]="'Program Address'"></app-contact-information-DELETEME> -->

	<div class="form-group">
		<div class="form-check">
			<input class="form-check-input" id="differentProgramContact" name="differentProgramContact" type="checkbox" [(ngModel)]='differentProgramContact' (click)="showProgramContact()">
			<label class="form-check-label" for="differentProgramContact"> The main program contact is different from the executive contact.</label>
		</div>
	</div>
	<span *ngIf="differentProgramContact">
		<h2 class="blue-header">Program Contact</h2>
		<p>
			Contact selector here. All contact information is set from there. (Pick the contact from a list. This information is set at an organization level.)
		</p>
		<!-- These have been replaced with new contact information forms -->
		<!-- <app-contact-information-DELETEME [(contactInformation)]='programContactForm' [title]="'Program Contact Information'"></app-contact-information-DELETEME> -->
	</span>
	<h2 class="blue-header">Additional Paid Staff</h2>
	<p>Contact selector here. All staff can be added by name and set at an organizational level.</p>
	<!-- Program Location -->
	<!-- Service Area -->
	<!-- Generic Address component to collect program address -->
	<!-- Program Contact -->

	<!-- <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input [(ngModel)]="programInformationForm.phoneNumber" type="text" class="form-control" id="phoneNumber" name="phoneNumber" #phoneNumber="ngModel">
      <div class="valid-feedback" [hidden]="showValidFeedback(phoneNumber)" style="display: inherit">
        Ok
      </div>
      <div class="invalid-feedback" [hidden]="showInvalidFeedback(phoneNumber)" style="display: inherit">
        Try Again
      </div>
    </div>
    <div class="form-group">
      <label for="line1" class="required">Address Line 1</label>
      <input [(ngModel)]="programInformationForm.programId" type="text" class="form-control" id="line1" name="line1" #line1="ngModel" required>
      <div class="valid-feedback" [hidden]="showValidFeedback(line1)" style="display: inherit">
        Ok
      </div>
      <div class="invalid-feedback" [hidden]="showInvalidFeedback(line1)" style="display: inherit">
        Try Again
      </div>
    </div> -->
</div>
<div *ngIf="currentTab===tabs[1]">
	<h2 class="blue-header">Program Schedule Hours of Operation (not including on-call / stand-by hours)</h2>
	<div *ngFor="let hours of operationHours">
		<app-hours [(hours)]="hours"></app-hours>
	</div>
	<button class="btn btn-secondary mt-2" (click)="addOperationHours()">Add Operation Hours</button>
	<h2 class="blue-header">Program On-call / Stand-by Hours of Operation</h2>
	<div *ngFor="let hours of standbyHours">
		<app-hours [(hours)]="hours"></app-hours>
	</div>
	<button class="btn btn-secondary mt-2" (click)="addStandbyHours()">Add On-call/Stand-by Hours</button>
</div>
<div *ngIf="currentTab===tabs[2]">
	<h2 class="blue-header">Reporting Requirements</h2>
	<div class="form-group">

		<pre>If not set from the system are these CYA questions? Can we turn them into a TOS?
We need to know what year is the previous year.
We need to know if this is a renewal.
We need to know if this is a victim's service program.
We need to know if this is a Violence Against Women Program.</pre>

		<p>Have you submitted Schedule H Descriptive report for first six months of FY 2019-20</p>
		<p>Have you submitted Schedule G Financial report for the first two quarters of FY 2019-20</p>
		<p>For Victims Service Programs only Have you submitted monthly OPRA reports to the end of Nov 2019</p>
		<p>For Violence Against Women Programs only Have you submitted monthly STV-DES reports to the end of Nov 2019</p>


		<!-- <div class="form-check">
        <input #compliantEmploymentStandardsAct="ngModel" [(ngModel)]="programInformationForm.compliantEmploymentStandardsAct" class="form-check-input" type="checkbox" value="" id="compliantEmploymentStandardsAct" name="compliantEmploymentStandardsAct">
        <label class="form-check-label" for="compliantEmploymentStandardsAct">
          Employment Standards Act of BC?
        </label>
      </div> -->
		<!-- <div class="form-check">
        <input #compliantHumanRights="ngModel" [(ngModel)]="administrativeInformationForm.compliantHumanRights" class="form-check-input" type="checkbox" value="" id="compliantHumanRights" name="compliantHumanRights">
        <label class="form-check-label" for="compliantHumanRights">
          BC's Human Rights Code?
        </label>
      </div>
      <div class="form-check">
        <input #compliantWorkersCompensation="ngModel" [(ngModel)]="administrativeInformationForm.compliantWorkersCompensation" class="form-check-input" type="checkbox" value="" id="compliantWorkersCompensation" name="compliantWorkersCompensation"> <label class="form-check-label" for="compliantWorkersCompensation">
          Worker's Compensation Act (WorkSafe BC)?
        </label>
      </div>
      <div class="form-check">
          <input #compliantWorkersCompensation="ngModel" [(ngModel)]="administrativeInformationForm.compliantWorkersCompensation" class="form-check-input" type="checkbox" value="" id="compliantWorkersCompensation" name="compliantWorkersCompensation"> <label class="form-check-label" for="compliantWorkersCompensation">
            Worker's Compensation Act (WorkSafe BC)?
          </label>
        </div> -->
	</div>

</div>