<ul *ngIf="persons" class="list-group mb-2">
  <!-- Only show the entry if they are in the list -->
  <li *ngFor="let person of persons" class="list-group-item d-flex justify-content-between align-items-center">
    {{nameAssemble(person.firstName,person.middleName,person.lastName)}}
    <span (click)="removePerson(person.personId)">
      <i class="fas fa-times-circle text-danger"></i>
    </span>
  </li>
</ul>
<!-- <div (click)="addPerson()" class="form-group">
  Add Program Staff <i class="fas fa-plus-circle text-success"></i>
</div> -->
<div *ngIf="trans.persons" class="form-group">
  <label for="personPickerList">{{label}}</label>
  <select class="form-control" name="personPickerList" id="personPickerList" (change)="addPerson(selectedPerson)" [(ngModel)]="selectedPerson">
    <option [value]="null">--</option>
    <option *ngFor="let person of trans.persons" [value]="person.personId">
      <!-- The person comes with a title if they have one 
      (click)="addPerson(person.personId)"-->
      {{nameAssemble(person.firstName,person.middleName,person.lastName)}}
    </option>
  </select>
</div>