<div class="container">
  <div class="row mt-4">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Organization Profile
        </div>
        <div class="card-body">
          <div class="card-title">
            {{contactInformation.organizationName}}
          </div>
          <p class="card-text">
            <strong>Phone</strong><br>
            <a href="tel:{{contactInformation.phoneNumber}}">{{contactInformation.phoneNumber}}</a>
          </p>
          <p class="card-text">
            <strong>Email</strong><br>
            <a href="mailto:{{contactInformation.emailAddress}}">{{contactInformation.emailAddress}}</a>
          </p>
        </div>
        <div class="card-footer">
          <a routerLink="/profile" class="btn btn-primary">Edit Organization Profile</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="card mb-4">
        <div class="card-header">
          <h1 class="h2">Contract: #1097583</h1>
        </div>
        <div class="card-body">
          <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#">Current Tasks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Completed</a>
            </li>
          </ul>
          <table class="table table-sm table-striped">
            <thead class="thead">
              <tr>
                <th scope="col"></th>
                <th scope="col">Status</th>
                <th scope="col">Deadline</th>
                <th scope="col">Form</th>
                <th scope="col">Action</th>
                <th scope="col">Note</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let line of tombstones; let i=index">
                <th scope="row">
                  <i *ngIf="line.formStatus === 'Not Started'" class="far fa-circle text-secondary"></i>
                  <i *ngIf="line.formStatus === 'Started'" class="far fa-circle text-success"></i>
                  <i *ngIf="line.formStatus === 'Submitted'" class="fas fa-check-circle text-success"></i>
                  <!-- "Awaiting Approval" -->
                  <i *ngIf="line.formStatus === 'Awaiting Approval'" class="far fa-comment-dots text-secondary"></i>
                  <!-- "Missed" -->
                  <i *ngIf="line.formStatus === 'Missed'" class="fas fa-times-circle text-danger"></i>
                  <!-- "Late" -->
                  <i *ngIf="line.formStatus === 'Late'" class="fas fa-clock text-warning"></i>
                </th>
                <td> {{line.formStatus}} </td>
                <td> {{line.formDeadline |date:'yyyy-MM-dd'}}</td>
                <td>{{line.formName}} - ({{line.frequency | titlecase}} {{line.forDateRangeStart |date:'yyyy-MM-dd'}} - {{line.forDateRangeEnd |date:'yyyy-MM-dd'}})</td>
                <td><a href="#" routerLink="renew-application">Start Application</a></td>
                <td>{{line.note}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <ul class="pagination my-0">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="form-wrapper" style="position: relative;">
  <div [ngBusy]="busy"></div>
  <div>
    <div class="col-lg-3 col-sm-12 application-gutter">
      <section class="application-nav">
        <h3>Program Application</h3>
        <mat-vertical-stepper [linear]="true" #stepper>
          <ng-template matStepperIcon="edit">
            <mat-icon>done</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="number">
          </ng-template>
          <mat-step label="Select Application Type"></mat-step>
        </mat-vertical-stepper>
      </section>
    </div>
      <div class="row">
        <div class="col-md-7 col-sm-12">
          <div class="page-header">
            <h1>Select Application Type</h1>
          </div>

          <div [formGroup]="form">

            <section class="radio-list per-line">
              <label>
                <input type="radio" [value]="100000000" name="applicationType" formControlName="applicationType">
                New Service Provider Application
              </label>
              <label>
                <input type="radio" [value]="100000001" name="applicationType" formControlName="applicationType">
                Renew Contract Application
              </label>
              <label>
                <input type="radio" [value]="100000002" name="applicationType" formControlName="applicationType">
                Monthly Statistics
              </label>
              <label>
                <input type="radio" [value]="100000003" name="applicationType" formControlName="applicationType">
                Schedule G - Quarterly Stat of Operations
              </label>
              <label>
                <input type="radio" [value]="100000004" name="applicationType" formControlName="applicationType">
                Schedule H - Semi-Annual Narrative Report
              </label>
              <label>
                <input type="radio" [value]="100000005" name="applicationType" formControlName="applicationType">
                Submit Annual Report (For Societies Only)
              </label>
              <label>
                <input type="radio" [value]="100000006" name="applicationType" formControlName="applicationType">
                Submit Annual Budget Proposal for the Same Contract
              </label>
            </section>

            <div *ngIf="showValidationMessage" class="error-summary">
              <i class="fas fa-exclamation-triangle" style="margin-right: 10px;"></i>
              <span>There are errors with some fields on this page. Please scroll up to review and fix the errors (marked in red) before continuing.</span>
            </div>

            <section class="button-container">
              <button (click)="markAsTouched(); gotoApplication();" class="btn btn-primary pull-right">START APPLICATION <i class="fas fa-chevron-right"></i></button>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div> -->
