<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="card mb-4">
        <div class="card-header">
          <h1 class="h3">Contract: #1097583</h1>
        </div>
        <div class="card-body">
          <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#">Current Tasks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Completed</a>
            </li>
          </ul>
          <table class="table table-sm table-striped">
            <thead class="thead">
              <tr>
                <th scope="col"></th>
                <th scope="col">Your Tasks</th>
                <th scope="col">Status</th>
                <th scope="col">Due Date</th>
                <th scope="col">Actions</th>
                <th scope="col">Note</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Program Application</td>
                <td>Not Started</td>
                <td>2019-06-11</td>
                <td><a href="#" routerLink="renew-application">Start Application</a></td>
                <td>Please submit your annual Program Application by the Due Date</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>FY19 Q3 Schedule G</td>
                <td>Not Started</td>
                <td>2019-06-11</td>
                <td><a href="#">Complete Form</a></td>
                <td>Please submit your annual Program Application by the Due Date</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>FY19 Q3 Schedule M</td>
                <td>Not Started</td>
                <td>2019-06-11</td>
                <td><a href="#">Complete Form</a></td>
                <td>Please submit your annual Program Application by the Due Date</td>
              </tr>
              <tr class="table-success">
                <th scope="row">3</th>
                <td>FY19 Q3 Schedule G</td>
                <td>Submitted</td>
                <td>2019-06-11</td>
                <td><a href="#">Update Contact Information</a></td>
                <td>Please submit your annual Program Application by the Due Date</td>
              </tr>
              <tr class="table-danger">
                <th scope="row">4</th>
                <td>Update Contact Information</td>
                <td>Late</td>
                <td>2019-06-11</td>
                <td><a href="#">Complete Form</a></td>
                <td>Please submit your annual Program Application by the Due Date</td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          Organization Profile
        </div>
        <div class="card-body">
          <div class="card-title">
            BC Social Work Societies
          </div>
          <p class="card-tex"><strong>Business Phone:</strong> <a href="tel:6046224321">604-622-4321</a></p>
          <p class="card-text"><strong>Business Email:</strong> <a href="mailto:fake@fake.com">fake@fake.com</a></p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Edit Organization Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="form-wrapper" style="position: relative;">
  <div [ngBusy]="busy"></div>
  <div>
    <div class="col-lg-3 col-sm-12 application-gutter">
      <section class="application-nav">
        <h3>Program Application</h3>
        <mat-vertical-stepper [linear]="true" #stepper>
          <ng-template matStepperIcon="edit">
            <mat-icon>done</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="number">
          </ng-template>
          <mat-step label="Select Application Type"></mat-step>
        </mat-vertical-stepper>
      </section>
    </div>
      <div class="row">
        <div class="col-md-7 col-sm-12">
          <div class="page-header">
            <h1>Select Application Type</h1>
          </div>

          <div [formGroup]="form">

            <section class="radio-list per-line">
              <label>
                <input type="radio" [value]="100000000" name="applicationType" formControlName="applicationType">
                New Service Provider Application
              </label>
              <label>
                <input type="radio" [value]="100000001" name="applicationType" formControlName="applicationType">
                Renew Contract Application
              </label>
              <label>
                <input type="radio" [value]="100000002" name="applicationType" formControlName="applicationType">
                Monthly Statistics
              </label>
              <label>
                <input type="radio" [value]="100000003" name="applicationType" formControlName="applicationType">
                Schedule G - Quarterly Stat of Operations
              </label>
              <label>
                <input type="radio" [value]="100000004" name="applicationType" formControlName="applicationType">
                Schedule H - Semi-Annual Narrative Report
              </label>
              <label>
                <input type="radio" [value]="100000005" name="applicationType" formControlName="applicationType">
                Submit Annual Report (For Societies Only)
              </label>
              <label>
                <input type="radio" [value]="100000006" name="applicationType" formControlName="applicationType">
                Submit Annual Budget Proposal for the Same Contract
              </label>
            </section>

            <div *ngIf="showValidationMessage" class="error-summary">
              <i class="fas fa-exclamation-triangle" style="margin-right: 10px;"></i>
              <span>There are errors with some fields on this page. Please scroll up to review and fix the errors (marked in red) before continuing.</span>
            </div>

            <section class="button-container">
              <button (click)="markAsTouched(); gotoApplication();" class="btn btn-primary pull-right">START APPLICATION <i class="fas fa-chevron-right"></i></button>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div> -->
