<table class="table table-striped">
	<thead>
		<th scope="row">Eligible Expense Item</th>
		<th scope="row">Total Cost</th>
		<th scope="row">Funded From<br>VSCP</th>
		<th scope="row">
			<!-- For spacing only -->
		</th>
	</thead>
	<tbody>
		<tr *ngFor="let line of defaultExpenseItemsForm; let i=index">
			<th scope="col">
				{{line.itemName}}
			</th>
			<td>
				<input class="form-control" (input)="calculateTotals()" type="number" [(ngModel)]="line.totalCost" min="0" id="total_cost_{{i}}">
			</td>
			<td>
				<input class="form-control" (input)="calculateTotals()" type="number" [(ngModel)]="line.fundedFromVCSP" min="0" id="vscp_{{i}}">
			</td>
			<td>
				<!-- For spacing only -->
			</td>
		</tr>
		<tr *ngFor="let line of expenseItemsForm; let i=index">
			<th scope="col">
				<input class="form-control" type="text" [(ngModel)]="line.itemName" min="0" id="expense_name_{{i}}">
			</th>
			<td>
				<input class="form-control" (input)="calculateTotals()" type="number" [(ngModel)]="line.totalCost" min="0" id="total_cost_{{i}}">
			</td>
			<td>
				<input class="form-control" (input)="calculateTotals()" type="number" [(ngModel)]="line.fundedFromVCSP" min="0" id="vscp_{{i}}">
			</td>
			<td (click)="removeExpenseItem(i)" class="align-middle">
				<i class="fas fa-times-circle text-danger"></i>
			</td>
		</tr>
		<tr>
			<th scope="col">Total</th>
			<td>${{totalTotalCost}}</td>
			<td>${{totalVscp}}</td>
			<td (click)="addExpenseItem()" class="align-middle">
				<i class="fas fa-plus-circle text-success"></i>
			</td>
		</tr>
	</tbody>
	<!-- <thead>
		<th scope="col">Revenue Source</th>
		<th scope="col">Cash</th>
		<th scope="col">In-kind Contribution</th>
		<th scope="col">Total</th>
		<th></th>
	</thead>
	<tbody>
		<tr *ngFor="let source of revenueSourcesForm; let i=index">
			<td>
				<select [(ngModel)]="source.revenueSourceName" class="form-control" name="source_{{i}}" id="source_{{i}}">
					<option>Ministry of PSSG-VSCP</option>
					<option>Municipal Government</option>
					<option>Regional District</option>
					<option>Applicant Organization</option>
					<option>Other</option>
				</select>
				<span *ngIf="source.revenueSourceName==='Other'">
					<input class="form-control mt-1" type="text" [(ngModel)]="source.other" placeholder="Specify" id="other_{{i}}">
				</span>
			</td>
			<td>
				<input class="form-control" (input)="calculateTotals()" type="number" [(ngModel)]="source.cash" min="0" id="cash_{{i}}">
			</td>
			<td>
				<input class="form-control" (input)="calculateTotals()" type="number" [(ngModel)]="source.inKindContribution" min="0" id="kind_{{i}}">
			</td>
			<td>
				<input class="form-control" type="number" [value]="(source.cash||0) + (source.inKindContribution||0)" id="kind_{{i}}" disabled>
			</td>
			<td (click)="removeRevenueSource(i)" class="align-middle">
				<i class="fas fa-times-circle text-danger"></i>
			</td>
		</tr>
		<tr>
			<th>Total </th>
			<th>${{totalCash}}</th>
			<th>${{totalInKind}}</th>
			<th>${{totalGrand}}</th>
			<td (click)="addRevenueSource()" class="align-middle">
				<div class="form-group">
					<i class="fas fa-plus-circle text-success"></i>
				</div>
			</td>
		</tr>
	</tbody> -->
</table>