<div class="row">
  <div class="col">
    <p>
      This area doesn't require authentication to get to and all components here will be loaded when the page gets navigated to. Saving lots of bandwidth.
    </p>
    <app-mat-demo></app-mat-demo>
  </div>
  <div class="col-md-4">
    <div class="card">
      <h4 class="card-header"><i class="fas fa-info-circle mr-2"></i>Bootstrap Only Sidebox</h4>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
