<div class="container">
	<div class="row">
		<div class="col-md-4">
			<app-contract-tombstone [organizationId]="organizationId"></app-contract-tombstone>

			<section class="application-nav sticky-top">
				<app-icon-stepper [stepperElements]="stepperElements" [(stepperElement)]="currentStepperElement"></app-icon-stepper>
			</section>
		</div>

		<div class="col-md-8">
			<div class="page-header">
				<h1>{{currentStepperElement.object['firstName']}}</h1>
			</div>
			<!-- Loop through items -->
			<div *ngFor="let item of stepperElements">
				<!-- if the item name matches show this section -->
				<div *ngIf="isCurrentStepperElement(item)">
					<app-person-editor [(person)]="item.object" (personChange)="updateCurrent()"></app-person-editor>
				</div>
			</div>
		</div>
	</div>
</div>