<div class="card" *ngIf="trans">
  <div class="card-header">
    {{ trans.organizationName ||'Organization'}} Profile
  </div>
  <div class="card-body">
    <p class="card-text">
      <strong>Phone</strong><br>
      <a href="tel:{{trans.contactInformation.phoneNumber}}">{{trans.contactInformation.phoneNumber}}</a>
    </p>
    <p class="card-text">
      <strong>Email</strong><br>
      <a href="mailto:{{trans.contactInformation.emailAddress}}">{{trans.contactInformation.emailAddress}}</a>
    </p>
  </div>
  <div class="card-footer">
    <a [routerLink]="'/authenticated/profile/'" class="btn btn-primary">Update Organization Profile</a>
    <a [routerLink]="'/authenticated/personnel/'" class="btn btn-primary ml-2">Staff Information</a>
  </div>
</div>
