<p>
  Before submitting the Program Application Form, the form must be signed by one of more authorized signing officers for the organization below. <strong>If the applicant is a "Society" (under BC's Societies Act), the signature of at least ONE Board Member is required.</strong>
</p>

<p>
  As an authorized signing officer for the organization, I hereby certify that:
</p>
<ol type="a">
  <li>
    I have reviewed the completed Program Application Form; and that
  </li>
  <li>
    all of the information provided in this Program Application Form, including all attachments, is accurate and correct to the best of my knowledge
  </li>
</ol>
<h2 class="blue-header">Standard Authorization &amp; Signature</h2>
<p>As a signing authority I understand that the organization may have this application or a resulting contract terminated if:</p>
<div *ngFor="let term of terms; let i=index" class="form-group">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" (input)="onInput()" name="term_{{i}}" id="term_{{i}}" [(ngModel)]="term[1]">
    <label class="form-check-label" for="term_{{i}}">
      {{term[0]}}
    </label>
  </div>
</div>
<div *ngIf="state">
  <app-person-picker (input)="onInput()" [title]="'Authorized Signing Officer'" [(person)]="signature.signer"></app-person-picker>
</div>
