<p>
  Before submitting the Program Application Form, the form must be signed by one of more authorized signing officers for the organization below. <strong>If the applicant is a "Society" (under BC's Societies Act), the signature of at least ONE Board Member is required.</strong>
</p>

<p>
  As an authorized signing officer for the organization, I hereby certify that:
</p>
<ol type="a">
  <li>
    I have reviewed the completed Program Application Form; and that
  </li>
  <li>
    all of the information provided in this Program Application Form, including all attachments, is accurate and correct to the best of my knowledge
  </li>
</ol>
<h2 class="blue-header">Standard Authorization &amp; Signature</h2>
<p>The organization may have this application or resulting contract terminated if:</p>
<div *ngFor="let term of terms; let i=index" class="form-group">
  <label for="term_{{i}}">
    <input type="checkbox" (input)="onInput()" name="term_{{i}}" id="term_{{i}}" [(ngModel)]="term[1]">
    {{term[0]}}
  </label>
</div>
<div *ngIf="state">
  <h4>
    Authorized Signing Officer
  </h4>
  <div class="form-row">
    <div class="col-md">
      Full Name
    </div>
    <div class="col-md">
      Title
    </div>
  </div>
  <div class="form-row">
    <div class="col-md">
      Email
    </div>
    <div class="col-md">
      Date
    </div>
  </div>
  <div class="form-row">
    <div class="col-md">
      Signature
    </div>
  </div>
</div>
