<div>
    <h2 class="blue-header">
        Applicant Organization Legal Name
    </h2>
    <div class="form-row">
        <div class="col-md">
            <div class="form-group">
                <label for="orgName">Legal Name of Organization</label>
                <input [value]="trans.organizationName" type="text" class="form-control" id="orgName" name="orgName" disabled>
            </div>
        </div>
    </div>

    <!-- Primary contact information -->
    <!-- <h2 class="blue-header">Primary Organization Contact Information</h2> -->
    <!-- Primary organization contact information header -->
    <!-- <app-primary-contact-info [(contactInformation)]="trans.contactInformation" [isDisabled]="isCompleted"></app-primary-contact-info> -->
    <!-- Primary address form -->
    <!-- <app-address2 [(address)]="trans.contactInformation.mainAddress" [isDisabled]="isCompleted"></app-address2> -->

    <!-- Mailing address checkbox -->

    <!-- Mailing address form -->
    <h2 class="blue-header mt-4">Mailing Address</h2>
    <!-- <div class="form-check">
        <input [disabled]="isCompleted" [(ngModel)]="trans.contactInformation.mailingAddressSameAsMainAddress" class="form-check-input" type="checkbox" id="mailingAddressSameAsMainAddress" name="mailingAddressSameAsMainAddress" (change)="setMailingAddressSameAsMainAddress()">
        <label class="form-check-label" for="mailingAddressSameAsMainAddress">
          Please select this check box if mailing address is the same as Primary Organization Contact Address
        </label>
      </div> -->
    <!-- [isDisabled]="trans.contactInformation.mailingAddressSameAsMainAddress" -->
    <app-address2 [(address)]="trans.applicantInformation.mailingAddress" [isDisabled]="isCompleted"></app-address2>

    <h2 class="blue-header mt-4">General Information</h2>
    <div>
        <label>
            <strong>
                Are you applying for Social Services Group Liability Program (SSGLP) insurance coverage for January 1, 2020 to March 31, 2021?
            </strong>
        </label>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input [disabled]="isCompleted" [(ngModel)]="trans.applyingForInsurance" class="form-check-input" type="radio" name="applyingForInsurance" id="applyingForInsurance1" [value]="true">
                <label class="form-check-label" for="applyingForInsurance1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input [disabled]="isCompleted" [(ngModel)]="trans.applyingForInsurance" class="form-check-input" type="radio" name="applyingForInsurance" id="applyingForInsurance2" [value]="false">
                <label class="form-check-label" for="applyingForInsurance2">No</label>
            </div>
        </div>
        <!-- <div *ngIf="trans.applyingForInsurance === false" class="form-group">
            <label for="insuranceProvider">Insurance Provider?</label>
            <input [disabled]="isCompleted" #insuranceProvider="ngModel" [(ngModel)]="trans.insuranceProvider" type="text" class="form-control" id="insuranceProvider" name="insuranceProvider">
            <div class="valid-feedback" [hidden]="formHelper.showValidFeedback(insuranceProvider)" style="display: inherit">
                Ok
            </div>
            <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedbackOld(insuranceProvider)" style="display: inherit">
                Enter insurance provider
            </div>
        </div> -->
    </div>

</div>