<div class="container">
  <div class="row" *ngIf="trans">
    <div class="col-md-4">
      <!-- <section class="application-nav sticky-top">
        <app-icon-stepper></app-icon-stepper>
      </section> -->
    </div>

    <div class="col-md-8">
      <!-- <div *ngIf="stepperElements && currentStepperElement">
        <div class="page-header">
          <h1>{{currentStepperElement.itemName}}</h1>
        </div>
        <div *ngFor="let item of stepperElements">
          <div *ngIf="isCurrentStepperElement(item)">
            <div *ngIf="item.discriminator === discriminators[0]">
              <app-program-contact-information [(contactInformation)]="trans.contactInformation"></app-program-contact-information>
            </div>
            <div *ngIf="item.discriminator === discriminators[1]">
              <app-administrative-information [(administrativeInformation)]="trans.administrativeInformation"></app-administrative-information>
            </div>
            <div *ngIf="item.discriminator === discriminators[2]">
              <app-cg-liability [(cgLiability)]="trans.cglInsurance"></app-cg-liability>
            </div>
            <div *ngIf="item.discriminator === discriminators[3]">
              <app-program [(programApplication)]="item.object"></app-program>
            </div>
            <div *ngIf="item.discriminator === discriminators[4]">
              <app-review-application></app-review-application>
            </div>
            <div *ngIf="item.discriminator === discriminators[5]">
              <app-program-authorizer></app-program-authorizer>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <app-program-contact-information [(contactInformation)]="trans.contactInformation"></app-program-contact-information> -->
      <!-- <app-administrative-information [(administrativeInformation)]="trans.administrativeInformation"></app-administrative-information> -->
      <!-- <app-cg-liability [(cgLiability)]="trans.cglInsurance"></app-cg-liability> -->
      <span *ngFor="let program of trans.programApplications">
        <h1>{{program.name}}</h1>
        <app-program [(programApplication)]="program"></app-program>

      </span>
      <pre>{{trans|json}}</pre>
    </div>
  </div>
  <!-- <div class="row">
      <pre>{{stepperElements|json}}</pre>
    </div> -->
</div>
