<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- <app-contract-tombstone [organizationId]="organizationId" [contractId]="contractId"></app-contract-tombstone> -->

      <section class="application-nav sticky-top">
        <app-icon-stepper></app-icon-stepper>
      </section>
    </div>

    <div class="col-md-8">
      <div *ngIf="stepperElements && currentStepperElement">
        <div class="page-header">
          <h1>{{currentStepperElement.itemName}}</h1>
        </div>
        <div *ngFor="let item of stepperElements">
          <div *ngIf="isCurrentStepperElement(item)">
            <div *ngIf="item.discriminator === discriminators[0]">
              <app-program-contact-information [(contactInformation)]="item.object"></app-program-contact-information>
            </div>
            <div *ngIf="item.discriminator === discriminators[1]">
              <app-administrative-information [(administrativeInformation)]="item.object"></app-administrative-information>
            </div>
            <div *ngIf="item.discriminator === discriminators[2]">
              <!-- <app-cg-liability [(cgLiability)]="item.object"></app-cg-liability> -->
              <app-cg-liability></app-cg-liability>
            </div>
            <div *ngIf="item.discriminator === discriminators[3]">
              <!-- <app-program [(programApplication)]="item.object"></app-program> -->
              <app-program></app-program>
            </div>
            <div *ngIf="item.discriminator === discriminators[4]">
              <!-- <app-review-application></app-review-application> -->
              <app-review-application></app-review-application>
            </div>
            <div *ngIf="item.discriminator === discriminators[5]">
              <!-- <app-program-authorizer [(signature)]="item.object"></app-program-authorizer> -->
              <app-program-authorizer></app-program-authorizer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
      <pre>{{stepperElements|json}}</pre>
    </div> -->
</div>
