<div [formGroup]="internalFormGroup">
	<h2 class="blue-header">Primary Contact Information</h2>
	<!-- Email box -->
	<div class="form-row">
		<div class="col-md">
			<div class="form-group">
				<label class="required" for="city">Email</label>
				<input type="text" class="form-control" id="emailAddress" name="emailAddress" formControlName="emailAddress" [required]="formHelper.isDirtyOrTouched(emailAddress)">
				<div class="valid-feedback" [hidden]="formHelper.showValidFeedback(emailAddress)" style="display: inherit">
					Ok
				</div>
				<div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedback(emailAddress)" style="display: inherit">
					Try Again
				</div>
			</div>
		</div>
	</div>
	<!-- Phone and fax boxes -->
	<div class="form-row">
		<div class="col-md">
			<div class="form-group">
				<label class="required" for="city">Phone Number</label>
				<input type="text" class="form-control" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" [required]="formHelper.isDirtyOrTouched(phoneNumber)">
				<div class="valid-feedback" [hidden]="formHelper.showValidFeedback(phoneNumber)" style="display: inherit">
					Ok
				</div>
				<div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedback(phoneNumber)" style="display: inherit">
					Try Again
				</div>
			</div>
		</div>
		<div class="col-md">
			<div class="form-group">
				<label for="city">Fax Number</label>
				<input type="text" class="form-control" id="faxNumber" name="faxNumber" formControlName="faxNumber">
				<div class="valid-feedback" [hidden]="formHelper.showValidFeedback(faxNumber)" style="display: inherit">
					Ok
				</div>
				<div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedback(faxNumber)" style="display: inherit">
					Try Again
				</div>
			</div>
		</div>
	</div>
	<!-- Main address block -->
	<app-address formControlName='mainAddress' [required]="true"></app-address>

	<div class="form-check">
		<!-- Mailing address checkbox -->
		<input formControlName="hasMailingAddress" class="form-check-input" type="checkbox" id="mailingAddressCheckbox">
		<label class="form-check-label" for="mailingAddressCheckbox">
			Different mailing address from main address.
		</label>
	</div>

	<div *ngIf="hasMailingAddress.value===true" class="mt-4">
		<h2 class="blue-header">Mailing Address</h2>
		<!-- Mailing Address Block -->
		<app-address formControlName='mailingAddress'></app-address>
	</div>
	<pre>contact-information:{{internalFormGroup.valid}}{{internalFormGroup.value|json}}</pre>
</div>