<div class="container">
	<div class="row">
		<div class="col">
			<app-contact-information-DELETEME [(contactInformation)]="contactInformation" [title]="'Primary Contact Information'" (valid)="onValid($event)"></app-contact-information-DELETEME>
		</div>
		<div [formGroup]="testAddress" class="col">
			<app-address formControlName='mainAddress'></app-address>
			<input type="checkbox" formControlName="hasMailingAddress">{{hasMailingAddress.value}}
			<div *ngIf="hasMailingAddress.value===true">
				<app-address formControlName='mailingAddress'></app-address>
			</div>

			<pre>Valid:{{testAddress.valid}}{{testAddress.value|json}}</pre>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<!-- Button states for the form: Can submit, Can't submit, (TODO: in process of submitting) -->
			<button *ngIf="validContactInformation" (click)="onSave()" class="btn btn-primary">Save</button>
			<button *ngIf="!validContactInformation" class="btn btn-primary" disabled>Save</button>
		</div>
	</div>
</div>
<!-- <pre>Valid: {{validContactInformation}}
{{contactInformation|json}}
</pre> -->