<div *ngIf="person">
  <div class="form-row">
    <div class="col-md">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <span *ngIf="!me">
          <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="person.firstName" #firstName="ngModel" [pattern]="wordRegex">
          <div class="valid-feedback" [hidden]="formHelper.showValidFeedback(firstName)">
            Ok
          </div>
          <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedbackOld(firstName)">
            Try Again
          </div>
        </span>
        <span *ngIf="me">
          <input type="text" class="form-control" id="firstName" name="firstName" [value]="person.firstName" disabled>
        </span>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <label for="middleName">Middle Name (optional)</label>
        <input type="text" class="form-control" id="middleName" name="middleName" [(ngModel)]="person.middleName" #middleName="ngModel">
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <span *ngIf="!me">
          <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="person.lastName" #lastName="ngModel" [pattern]="wordRegex">
          <div class="valid-feedback" [hidden]="formHelper.showValidFeedback(lastName)">
            Ok
          </div>
          <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedbackOld(lastName)">
            Try Again
          </div>
        </span>
        <span *ngIf="me">
          <input type="text" class="form-control" id="lastName" name="lastName" [value]="person.lastName" disabled>
        </span>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="person.title" #title="ngModel">
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md">
      <div class="form-group">
        <label for="emailAddress">Email</label>
        <input type="text" class="form-control" id="emailAddress" name="emailAddress" [(ngModel)]="person.email" #emailAddress="ngModel" [pattern]="emailRegex">
        <div class="valid-feedback" [hidden]="formHelper.showValidFeedback(emailAddress)">
          Ok
        </div>
        <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedbackOld(emailAddress)">
          Try Again
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md">
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" mask='(000) 000 0000' class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="person.phone" #phoneNumber="ngModel" [pattern]="phoneRegex">
        <div class="valid-feedback" [hidden]="formHelper.showValidFeedback(phoneNumber)">
          Ok
        </div>
        <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedbackOld(phoneNumber)">
          Try Again
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <label for="faxNumber">Fax Number</label>
        <input type="text" mask='(000) 000 0000' class="form-control" id="faxNumber" name="faxNumber" [(ngModel)]="person.fax" #faxNumber="ngModel" [pattern]="phoneRegex">
        <div class="valid-feedback" [hidden]="formHelper.showValidFeedback(faxNumber)">
          Ok
        </div>
        <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedbackOld(faxNumber)">
          Try Again
        </div>
      </div>
    </div>
  </div>
  <!-- <app-address2 [(address)]="person.address"></app-address2> -->

  <div class="form-check">
    <input [(ngModel)]="person.addressSameAsAgency" class="form-check-input" type="checkbox" id="agencyAddressCheckbox" (click)="setAddressSameAsAgency()">
    <label class="form-check-label" for="agencyAddressCheckbox">
      Same as primary address of Agency.
    </label>
  </div>
  <!-- <span *ngIf="person.addressSameAsAgency"> -->
  <app-address2 [(address)]="person.address"></app-address2>
  <!-- </span> -->
</div>