<div class="container-fluid">
	<div class="row">
		<div class="col">
			<h1>
				Service Provider Profile Dashboard
			</h1>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-md-8">
			<app-organization-profile-box></app-organization-profile-box>
		</div>
		<div class="col-md-4">
			<app-ministry-contact-box></app-ministry-contact-box>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col">
			<div class="card mb-4">
				<div class="card-header">
					<h1 class="h2">Contract: #1097583</h1>
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item">
							<a class="nav-link" (click)="setCurrentTab(tabs[0])" [class.active]="currentTab===tabs[0]">Current</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" (click)="setCurrentTab(tabs[1])" [class.active]="currentTab===tabs[1]">Completed</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" (click)="setCurrentTab(tabs[2])" [class.active]="currentTab===tabs[2]">Programs</a>
						</li>
					</ul>
				</div>
				<div class="card-body">
					<span *ngIf="currentTab===tabs[0]">
						<!-- Show completed items -->
						<!-- <input type="checkbox"> -->
						<table class="table table-sm table-striped">
							<thead class="thead">
								<tr>
									<th scope="col">Status</th>
									<th scope="col">Action</th>
									<th scope="col">Frequency</th>
									<th scope="col">Form</th>
									<th scope="col">For Range</th>
									<th scope="col">Deadline</th>
									<th scope="col" width="20%">Note</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let tombstone of tombstones; let i=index">
									<td>
										<!-- Missed -->
										<i *ngIf="tombstone.formStatus === statuses[0]" class="fas fa-times-circle text-danger"></i>
										<!-- Late -->
										<i *ngIf="tombstone.formStatus === statuses[1]" class="fas fa-clock text-warning"></i>
										<!-- Submitted -->
										<i *ngIf="tombstone.formStatus === statuses[2]" class="fas fa-check-circle text-success"></i>
										<!-- Started -->
										<i *ngIf="tombstone.formStatus === statuses[3]" class="far fa-file text-secondary"></i>
										<!-- Action Required -->
										<i *ngIf="tombstone.formStatus === statuses[4]" class="far fa-comment-dots text-info"></i>
										<!-- colour the text the same -->
										<span class="ml-1" [class.text-info]='tombstone.formStatus === statuses[4]' [class.text-secondary]='tombstone.formStatus === statuses[3]' [class.text-success]='tombstone.formStatus === statuses[2]' [class.text-warning]='tombstone.formStatus === statuses[1]' [class.text-danger]='tombstone.formStatus === statuses[0]'>
											{{tombstone.formStatus}}
										</span>
									</td>
									<td>
										<a routerLink="/authenticated/{{tombstone.formType}}/{{tombstone.organizationId}}/{{tombstone.programId}}">Complete</a>
									</td>
									<td>{{tombstone.frequency | titlecase}}</td>
									<td>{{tombstone.formName}}<br>
									</td>
									<td>
										{{tombstone.forDateRangeStart |date:'yyyy-MM-dd'}} &mdash; {{tombstone.forDateRangeEnd |date:'yyyy-MM-dd'}}
									</td>
									<td> {{tombstone.formDeadline |date:'yyyy-MM-dd'}}</td>
									<td>
										<div>
											{{tombstone.note}}
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<ul class="pagination my-0">
							<li class="page-item"><a class="page-link" href="#">Previous</a></li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">Next</a></li>
						</ul>
					</span>
					<span *ngIf="currentTab===tabs[1]">
						<!-- Show completed items -->
						<!-- <input type="checkbox"> -->
						<table class="table table-sm table-striped">
							<thead class="thead">
								<tr>
									<th scope="col"></th>
									<th scope="col">Form</th>
									<th scope="col">Status</th>
									<th scope="col">Finalized Date</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let tombstone of completedTombstones; let i=index">
									<th scope="row">
										{{i+1}}
									</th>
									<td><strong>{{tombstone.frequency | titlecase}} {{tombstone.formName}}</strong><br>
										<small>{{tombstone.forDateRangeStart |date:'yyyy-MM-dd'}} - {{tombstone.forDateRangeEnd |date:'yyyy-MM-dd'}}</small>
									</td>
									<td> {{tombstone.formStatus}} </td>
									<td> {{tombstone.lastUpdated |date:'yyyy-MM-dd'}}</td>
									<td><a routerLink="/authenticated/dashboard">View PDF</a></td>
								</tr>
							</tbody>
						</table>
						<ul class="pagination my-0">
							<li class="page-item"><a class="page-link" href="#">Previous</a></li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">Next</a></li>
						</ul>
					</span>
					<span *ngIf="currentTab===tabs[2]">
						<table class="table table-sm table-striped">
							<thead class="thead">
								<tr>
									<th scope="col"></th>
									<th scope="col">Programs</th>
									<th scope="col">Program Contact</th>
									<th scope="col">Update Contact</th>

								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let tombstone of programTombstones; let i=index">
									<th scope="row">
										{{i+1}}
									</th>
									<td>{{tombstone.programName}}
									</td>
									<td>
										<strong>Name:</strong>{{tombstone.programContact.firstName}} {{tombstone.programContact.lastName}}<br>
										<strong>Title:</strong>{{tombstone.programContact.title}}<br>
										<strong>Email:</strong>{{tombstone.programContact.email}}
									</td>
									<td><a href="#" routerLink="/authenticated/renew-application">Update Contact</a></td>
								</tr>
							</tbody>
						</table>
						<ul class="pagination my-0">
							<li class="page-item"><a class="page-link" href="#">Previous</a></li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">Next</a></li>
						</ul>
					</span>
				</div>
			</div>

		</div>
	</div>
</div>