<fieldset [formGroup]="addressForm" (input)="onInput()">
	<div class="form-row">
		<div class="col-md">
			<div class="form-group">
				<label for="line1" [class.required]="required">Address Line 1</label>
				<input type="text" class="form-control required" id="line1" name="line1" formControlName="line1" [required]="isRequired(line1)">

				<div class="valid-feedback" [hidden]="showValidFeedback(line1)" style="display: inherit">
					Ok
				</div>
				<div class="invalid-feedback" [hidden]="showInvalidFeedback(line1)" style="display: inherit">
					Try Again
				</div>
			</div>
		</div>
		<div class="col-md">
			<div class="form-group">
				<label for="line2">Address Line 2</label>
				<input type="text" class="form-control" id="line2" name="line2" formControlName="line2">
				<div class="valid-feedback" [hidden]="showValidFeedback(line2)" style="display: inherit">
					Ok
				</div>
				<div class="invalid-feedback" [hidden]="showInvalidFeedback(line2)" style="display: inherit">
					Try Again
				</div>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md">
			<div class="form-group">
				<label for="city" [class.required]="required">City</label>
				<input type="text" class="form-control" id="city" name="city" formControlName="city" [required]="isRequired(city)">
				<div class="valid-feedback" [hidden]="showValidFeedback(city)" style="display: inherit">
					Ok
				</div>
				<div class="invalid-feedback" [hidden]="showInvalidFeedback(city)" style="display: inherit">
					Try Again
				</div>
			</div>
		</div>
		<div class="col-md">
			<div class="form-group">
				<label for="province" [class.required]="required">Province</label>
				<select class="form-control" [class.required]="required" name="province" id="province" formControlName="province" [required]="isRequired(province)">
					<option *ngFor="let area of country.areas" [value]="area">{{area}}</option>
				</select>
				<div class="valid-feedback" [hidden]="showValidFeedback(province)" style="display: inherit">
					Ok
				</div>
				<div class="invalid-feedback" [hidden]="showInvalidFeedback(province)" style="display: inherit">
					Try Again
				</div>
			</div>
		</div>
	</div>

	<div class="form-row">
		<div class="col-md">
			<div class="form-group">
				<label for="postalCode" [class.required]="required">Postal Code</label>
				<input type="text" class="form-control" id="postalCode" name="postalCode" formControlName="postalCode" [required]="isRequired(postalCode)">
				<div class="valid-feedback" [hidden]="showValidFeedback(postalCode)" style="display: inherit">
					Ok
				</div>
				<div class="invalid-feedback" [hidden]="showInvalidFeedback(postalCode)" style="display: inherit">
					Try Again
				</div>
			</div>
		</div>
	</div>
	<!-- <pre>Valid:{{addressForm.valid}}{{addressForm.value|json}}</pre> -->
</fieldset>