<div class="form-wrapper" style="position: relative;">
  <div [ngBusy]="busy"></div>
  <div>
    <div class="col-lg-3 col-sm-12 application-gutter">
      <section class="application-nav">
        <h3>Program Application</h3>
        <mat-vertical-stepper [linear]="true" (selectionChange)="gotoPage($event)" #stepper>
          <ng-template matStepperIcon="edit">
            <mat-icon>done</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="number">
          </ng-template>
          <mat-step label="Select Application Type"></mat-step>
        </mat-vertical-stepper>
      </section>
    </div>
      <div class="row">
        <div class="col-md-7 col-sm-12">
          <div class="page-header">
            <h1>Select Application Type</h1>
          </div>

          <div [formGroup]="form">

            <section class="radio-list per-line">
              <label>
                <input type="radio" [value]="100000000" name="applicationType" formControlName="applicationType">
                New Service Provider Application
              </label>
              <label>
                <input type="radio" [value]="100000001" name="applicationType" formControlName="applicationType">
                Renew Contract Application
              </label>
              <label>
                <input type="radio" [value]="100000002" name="applicationType" formControlName="applicationType">
                Monthly Statistics
              </label>
              <label>
                <input type="radio" [value]="100000003" name="applicationType" formControlName="applicationType">
                Schedule G - Quarterly Stat of Operations
              </label>
              <label>
                <input type="radio" [value]="100000004" name="applicationType" formControlName="applicationType">
                Schedule H - Semi-Annual Narrative Report
              </label>
              <label>
                <input type="radio" [value]="100000005" name="applicationType" formControlName="applicationType">
                Submit Annual Report (For Societies Only)
              </label>
              <label>
                <input type="radio" [value]="100000006" name="applicationType" formControlName="applicationType">
                Submit Annual Budget Proposal for the Same Contract
              </label>
            </section>

            <div *ngIf="showValidationMessage" class="error-summary">
              <i class="fas fa-exclamation-triangle" style="margin-right: 10px;"></i>
              <span>There are errors with some fields on this page. Please scroll up to review and fix the errors (marked in red) before continuing.</span>
            </div>

            <section class="button-container">
              <button (click)="markAsTouched(); gotoApplication();" class="btn btn-primary pull-right">START APPLICATION <i class="fas fa-chevron-right"></i></button>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
