<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- <app-contract-tombstone [organizationId]="organizationId"></app-contract-tombstone> -->

      <section class="application-nav sticky-top">
        <div style="max-height: 90%;">
          <app-icon-stepper></app-icon-stepper>
        </div>
        <button class="btn btn-primary mt-2 mr-2" (click)="add()">Add</button>
        <button class="btn btn-primary mt-2" (click)="exit()">Exit</button>
      </section>
    </div>

    <div class="col">
      <!-- Be sure an element exists -->
      <div *ngIf="stepperElements && currentStepperElement">
        <div *ngFor="let person of trans.persons">
          <span *ngIf="person===currentStepperElement.object">
            <div class="page-header">
              <h1>{{nameAssemble(person.firstName, person.middleName, person.lastName)||'Person'}}</h1>
            </div>
            <app-person-editor [(person)]="person"></app-person-editor>
            <button *ngIf="!person.me" class="btn btn-danger mt-2 mr-2" (click)="remove(person)">Deactivate</button>
            <button class="btn btn-primary mt-2 mr-2" (click)="save(person)">Save</button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- <pre>{{trans.persons|json}}</pre> -->
