<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- <app-contract-tombstone [organizationName]="organizationName"></app-contract-tombstone> -->

      <section class="application-nav sticky-top">
        <app-icon-stepper></app-icon-stepper>
      </section>
    </div>

    <div class="col-md-8">
      <div *ngIf="stepperElements && currentStepperElement">
        <div class="page-header">
          <h1>{{currentStepperElement.itemName}}</h1>
        </div>
        <div *ngFor="let item of stepperElements">
          <!-- remove the old stepper elements off of the dom -->
          <div *ngIf="isCurrentStepperElement(item)">
            <!-- Check the discriminator -->
            <div *ngIf="item.discriminator === discriminators[0]">
              Program Overview
            </div>
            <div *ngIf="item.discriminator === discriminators[1]">
              <app-program-budget></app-program-budget>
            </div>
            <div *ngIf="item.discriminator === discriminators[2]">
              <app-program-authorizer [(signature)]="item.object"></app-program-authorizer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <pre>{{trans|json}}</pre>
  </div>
</div>
