<div *ngIf="trans" class="container">
  <div class="row">
    <div class="col-md-4">
      <section class="application-nav sticky-top">
        <app-icon-stepper></app-icon-stepper>
        <span *ngIf="saving">
          <button class="btn btn-primary mt-2 mr-2" disabled>Saving</button>
        </span>
        <span *ngIf="!saving">
          <button class="btn btn-primary mt-2 mr-2" (click)="save()">Save</button>
        </span>
        <button class="btn btn-primary mt-2" (click)="exit()">Exit</button>
      </section>
    </div>
    <div class="col-md-8">
      <div *ngIf="currentStepperElement.discriminator==='program_overview'">
        <h2>{{currentStepperElement.itemName}}</h2>
        <div *ngFor="let program of trans.programBudgets">
          <h2 class="blue-header">{{program.name || program.programId}}</h2>
          <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="row">Program Name</th>
                <td>{{program.name}}</td>
              </tr>
              <tr>
                <th scope="row">Program Type</th>
                <td>{{program.type}}</td>
              </tr>
              <tr>
                <th scope="row">Program Email</th>
                <td>{{program.email}}</td>
              </tr>
              <tr>
                <th scope="row">Program Manager</th>
                <td>{{personDict[program.contactLookupId]?personDict[program.contactLookupId]:'The user previously listed as the primary contact is not active. Please be sure to update this contact.'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngFor="let programBudget of trans.programBudgets">
        <span *ngIf="programBudget.programId===currentStepperElement.discriminator">
          <h2>{{programBudget.name}}</h2>
          <app-program-budget [(programBudget)]="programBudget"></app-program-budget>
        </span>
      </div>
      <div *ngIf="currentStepperElement.discriminator==='authorization'">
        <h2>{{currentStepperElement.itemName}}</h2>
        <app-program-authorizer [(signature)]="trans.signature"></app-program-authorizer>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <pre>{{data|json}}</pre>
    </div>
    <div class="col-4">
      <pre>{{trans|json}}</pre>
    </div>
    <div class="col-4">
      <pre>{{out|json}}</pre>
    </div>
  </div>
</div>
